{% extends "basegreen.html.twig" %}



{% block content %}
    <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <div class="card">
        <form method="post" enctype="multipart/form-data" id="serf">
    <div class="card-body">
        <h4 class="card-title">Ajouter un Service</h4>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="nom" class="control-label col-form-label">Nom</label>
                    <input type="text" class="form-control" name="nomser" id="nom" placeholder="Company Here">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="inputcom" class="control-label col-form-label">DDescription</label>
                    <textarea name="descser" class="form-control" type="text" id="desc" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label class="control-label col-form-label">Duree service </label>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="1" name="opt[]" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Mois</label>
                        </div>

                    </div>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="2" name="opt[]" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">3 Mois</label>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="3" name="opt[]"id="customCheck3" >
                            <label class="custom-control-label" for="customCheck3">6 Mois</label>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="4" name="opt[]" id="customCheck4" >
                            <label class="custom-control-label" for="customCheck4">Annee</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label class="control-label col-form-label">tarif par mois</label>

                    <input  type="number" value="" name="tarifser" class="form-control">


                </div>
            </div>
            <div class="col-sm-12 col-md-6">


                   <button type="button" class="btn btn-success" id="ajouter">Ajouter</button>
                    <button type="button" class="btn btn-danger" id="annuler">Annuler</button>



            </div>
        </div>

    </div>
        </form>
    </div>
    </div>
    </div>

    <script>
        $('#ajouter').click(function () {
            $('#serf').submit();
        })
    </script>



{% endblock %}