{% block header %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {% block title %} pepiniere {% endblock %}</title>
    <meta name="description" content="">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, follow" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
    <!--All Css Here-->

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- Linearicon CSS-->
    <link rel="stylesheet" href="{{ asset('css/linearicons.min.css') }}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{{  asset('css/font-awesome.min.css') }}">

    <!-- Animate CSS-->
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <!-- Owl Carousel CSS-->
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <!-- Slick CSS-->
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
    <!-- Meanmenu CSS-->
    <link rel="stylesheet" href="{{ asset('css/meanmenu.min.css') }}">
    <!-- Easyzoom CSS-->
    <link rel="stylesheet" href="{{ asset('css/easyzoom.css') }}">
    <!-- Venobox CSS-->
    <link rel="stylesheet" href="{{ asset('css/venobox.css') }}">
    <!-- Jquery Ui CSS-->
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <!-- Nice Select CSS-->
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">



    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <!-- Modernizr Js -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="wrapper">
    <!--Header Area Start-->
    <header>
        <div class="header-container">
            <!--Header Top Area Start-->
            <div class="header-top-area black-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-5">
                            <!--Header Top Left Start-->
                            <div class="header-top-left">
                                <div class="header-top-language-currency">
                                    <div class="switcher">
                                        <div class="language">
                                            <span class="switcher-title">Language: </span>
                                            <div class="switcher-menu">
                                                <ul>
                                                    <li><a href="#">English</a>
                                                        <ul class="switcher-dropdown">
                                                            <li><a href="#">German</a></li>
                                                            <li><a href="#">French</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--Header Top Left End-->
                        </div>
                        <div class="col-lg-6 col-md-7">
                            <!--Header Top Right Start-->
                            <div class="header-top-right">
                                <ul class="menu-top-menu text-md-right">

                                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                        <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                                        <li><a href="my-account.html">Mes Achat</a></li>
                                        <li><a href="my-account.html">asd</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}" class="far fa-user">se deconnecter</a></li>

                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login' ) |nl2br}}" class="login" ><i class="fas fa-user"></i> s'authentifier </a></li>
                                        <li><a href="{{  path('fos_user_registration_register') }}" class="registration_form"><i class="fas fa-user"></i> s'inscrire </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!--Header Top Right End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Header Top Area End-->
            <!--Header Middle Area Start-->
            <div class="header-middle-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-4">
                            <!--Header Logo Start-->
                            <div class="header-logo">
                                <a href="index.html"><img src="{{ asset('img/logo/logo.png') }}" alt=""></a>
                            </div>
                            <!--Header Logo End-->
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <!--Header Phone Start-->
                            <div class="header-phone">
                                <div class="icon">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <p>Bienvenue : <br> {{ app.user.username }}</p>
                            </div>
                            {% endif %}
                            <!--Header Phone End-->
                        </div>

                        <div class="col-xl-5 col-lg-3 col-md-10 order-md-4 order-lg-3">
                            <!--Header Search Area-->
                            <div class="header-search-area">
                                <form action="#">
                                    <div class="form-input">
                                        <input name="search" id="search" placeholder="" value="Search..." onblur="if(this.value==''){this.value='Search...'}" onfocus="if(this.value=='Search...'){this.value=''}" type="text">
                                        <button type="submit" class="header-search-btn"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <!--Header Search Area-->
                        </div>
                        {% block panier %}

                        {% endblock %}

                    </div>
                </div>
            </div>
            <!--Header Middle Area End-->
            <!--Header Bottom Area Start-->
            <div class="header-bottom-area header-sticky">
                <div class="header-boxshadow">
                    <div class="container header-inner">
                        <div class="row">
                            <div class="col-12">
                                <!--Logo Sticky Start-->
                                <div class="logo-sticky">
                                    <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
                                </div>
                                <!--Logo Sticky End-->
                                <!--Main Menu Area Start-->
                                <div class="header-menu text-center">
                                    <nav>
                                        <ul class="main-menu">
                                            <li><a href="index.html">home</a>
                                                <!--Dropdown Menu Start-->
                                                <ul class="dropdown">
                                                    <li><a href="index.html">Home Page One</a></li>
                                                    <li><a href="index-2.html">Home Page Two</a></li>
                                                    <li><a href="index-3.html">Home Page Three</a></li>
                                                    <li><a href="index-4.html">Home Page Four</a></li>
                                                    <li><a href="index-5.html">Home Page Five</a></li>
                                                </ul>
                                                <!--Dropdown Menu End-->
                                            </li>
                                            <li><a href="{{ path('AfficherClient') }}">Produits</a></li>
                                            <li><a href="">Services</a>
                                                <ul class="dropdown">
                                                    <li><a href="{{ path('service_afficher') }}">nos Services</a></li>
                                                    <li><a href="{{ path('service_mesabonnements') }}">Consulter mes service</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="blog.html">Evennement</a>
                                                <ul class="dropdown">
                                                    <li><a href="{{ path('afficherEvenemnt') }}">Evennements</a></li>
                                                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                                    <li><a href="{{ path('afficherReservation') }}">Mes Evenements</a></li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                            <li><a href="blog.html">Forum</a>
                                                <!--Dropdown Menu Start-->
                                                <ul class="dropdown">
                                                    <li><a href="single-product.html">Single Product</a></li>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-list.html">Shop List View</a></li>
                                                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                                    <li><a href="cart.html">Shopping Cart</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="my-account.html">My Account</a></li>
                                                    <li><a href="login-register.html">Log In</a></li>
                                                </ul>
                                                <!--Dropdown Menu End-->
                                            </li>
                                            <li><a href="#">Reclamation</a>
                                                <!--Mega Menu Start-->
                                                <ul class="mega-menu">
                                                    <li><a href="#" class="item-link">Reclamation</a>
                                                        <ul>
                                                            <li><a href="about.html">About Us</a></li>
                                                            <li><a href="about-2.html">About Us 02</a></li>
                                                            <li><a href="contact.html">Contact Us</a></li>
                                                            <li><a href="contact-2.html">Contact Us 02</a></li>
                                                            <li><a href="service.html">Services</a></li>
                                                            <li><a href="service-2.html">Services 02</a></li>
                                                            <li><a href="faq.html">Frequently Questions</a></li>
                                                            <li><a href="404.html">Error 404</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#" class="item-link">Forum</a>
                                                        <ul>
                                                            <li><a href="blog-nosidebar.html">None Sidebar</a></li>
                                                            <li><a href="blog-left-sidebar.html">Sidebar Left</a></li>
                                                            <li><a href="single-blog.html">Gallery Format</a></li>
                                                            <li><a href="single-blog.html">Audio Format</a></li>
                                                            <li><a href="single-blog.html">Video Format</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#" class="item-link">Shop</a>
                                                        <ul>
                                                            <li><a href="shop-full-width.html">Full Width</a></li>
                                                            <li><a href="shop-right-sidebar.html">Sidebar Right</a></li>
                                                            <li><a href="shop-list.html">List View</a></li>
                                                            <li><a href="single-product.html">Single Product</a></li>
                                                            <li><a href="single-product.html">Variable Product</a></li>
                                                            <li><a href="single-product.html">Grouped Product</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <!--Mega Menu End-->
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!--Main Menu Area End-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!--Mobile Menu Area Start-->
                                <div class="mobile-menu d-lg-none"></div>
                                <!--Mobile Menu Area End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Header Bottom Area End-->
        </div>
    </header>



    {% endblock %}
    {% block content %}

    {% endblock %}





    {% block footer %}
    <footer>
        <div class="footer-container">
            <!--Footer Top Area Start-->
            <div class="footer-top-area black-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-40">
                                <div class="footer-title">
                                    <h3>My Account</h3>
                                </div>
                                <ul class="link-widget">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Team Member</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Specials</a></li>
                                    <li><a href="shop.html">Best sellers</a></li>
                                    <li><a href="#">Our stores</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                </ul>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-40">
                                <div class="footer-title">
                                    <h3>Information</h3>
                                </div>
                                <ul class="link-widget">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#">My orders</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Returns & Exchanges</a></li>
                                    <li><a href="#">Shipping & Delivery</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-40">
                                <div class="footer-title">
                                    <h3>Quick Links</h3>
                                </div>
                                <ul class="link-widget">
                                    <li><a href="#">Support Center</a></li>
                                    <li><a href="#">Term & Conditions</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Products Return</a></li>
                                    <li><a href="faq.html">FAQS</a></li>
                                </ul>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-40">
                                <div class="footer-title">
                                    <h3>Categories</h3>
                                </div>
                                <ul class="link-widget">
                                    <li><a href="#">Bedroom</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">Livingroom</a></li>
                                    <li><a href="#">Mobiles & Tablets</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Accessories</a></li>
                                </ul>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Top Area End-->
            <!--Footer Middle Area Start-->
            <div class="footer-middle-area black-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-30">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{{ asset('img/logo/logo-footer.png')}}" alt=""></a>
                                </div>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-30">
                                <div class="footer-info">
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <p>Address : No 40 Baria Sreet 15/2 NewYork City, NY, United States.</p>
                                </div>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-30">
                                <div class="footer-info">
                                    <div class="icon">
                                        <i class="fa fa-envelope-open-o"></i>
                                    </div>
                                    <p>Email: <br>info@yourmail.com</p>
                                </div>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-30">
                                <div class="footer-info">
                                    <div class="icon">
                                        <i class="fa fa-mobile"></i>
                                    </div>
                                    <p>Phone: <br>(+68) 123 456 7890</p>
                                </div>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Middle Area End-->
            <!--Footer Bottom Area Start-->
            <div class="footer-bottom-area black-bg pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Footer Payment Start-->
                            <div class="footer-payments-image">
                                <img src="{{ asset('img/payment/payment-icon.png')}}" alt="">
                            </div>
                            <!--Footer Payment End-->
                            <!--Footer Menu Start-->
                            <div class="footer-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="#">Site Map</a></li>
                                        <li><a href="#">Search Terms</a></li>
                                        <li><a href="#">Advanced Search</a></li>
                                        <li><a href="#">Orders and Returns</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--Footer Menu End-->
                            <!--Footer Copyright Start-->
                            <div class="footer-copyright">
                                <p>Copyright © <a href="#">Plantmore</a> All Rights Reserved</p>
                            </div>
                            <!--Footer Copyright End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Bottom Area End-->
        </div>
    </footer>
    <!--Footer Area End-->
    <!-- Modal Area Strat -->
    <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!--Modal Img-->
                        <div class="col-md-5">
                            <!--Modal Tab Content Start-->
                            <div class="tab-content product-details-large" id="myTabContent">
                                <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="{{ asset('img/single-product/large/single-product1.jpg') }}" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="{{ asset('img/single-product/large/single-product2.jpg') }}" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="{{ asset('img/single-product/large/single-product3.jpg') }}" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="{{ asset('img/single-product/large/single-product4.jpg') }}" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="{{ asset('img/single-product/large/single-product5.jpg') }}" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="{{ asset('img/single-product/large/single-product6.jpg') }}" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                            </div>
                            <!--Modal Content End-->
                            <!--Modal Tab Menu Start-->
                            <div class="single-product-menu">
                                <div class="nav single-slide-menu owl-carousel" role="tablist">
                                    <div class="single-tab-menu img-full">
                                        <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="{{ asset('img/single-product/small/single-product1.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="{{ asset('img/single-product/small/single-product2.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="{{ asset('img/single-product/small/single-product3.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="{{ asset('img/single-product/small/single-product4.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="{{ asset('img/single-product/small/single-product5.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="{{ asset('img/single-product/small/single-product6.jpg')}}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!--Modal Tab Menu End-->
                        </div>
                        <!--Modal Img-->
                        <!--Modal Content-->
                        <div class="col-md-7">
                            <div class="modal-product-info">
                                <h1>Sit voluptatem</h1>
                                <div class="modal-product-price">
                                    <span class="old-price">$74.00</span>
                                    <span class="new-price">$69.00</span>
                                </div>
                                <a href="single-product.html" class="see-all">See all features</a>
                                <div class="add-to-cart quantity">
                                    <form class="add-quantity" action="#">
                                        <div class="modal-quantity">
                                            <input type="number" value="1">
                                        </div>
                                        <div class="add-to-link">
                                            <button class="form-button" data-text="add to cart">add to cart</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="cart-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus.</p>
                                </div>
                                <div class="social-share">
                                    <h3>Share this product</h3>
                                    <ul class="socil-icon2">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Modal Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Area End -->
</div>





<!--All Js Here-->

<!--Jquery 1.12.4-->

<!--Popper-->
<script src="{{ asset('js/popper.min.js') }}"></script>
<!--Bootstrap-->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!--Imagesloaded-->
<script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
<!--Isotope-->
<script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
<!--Waypoints-->
<script src="{{ asset('js/waypoints.min.js') }}"></script>
<!--Counterup-->
<script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
<!--Carousel-->
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<!--Slick-->
<script src="{{ asset('js/slick.min.js') }}"></script>
<!--Meanmenu-->
<script src="{{ asset('js/jquery.meanmenu.min.js') }}"></script>
<!--Easyzoom-->
<script src="{{ asset('js/easyzoom.min.js') }}"></script>
<!--Nice Select-->
<script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
<!--ScrollUp-->
<script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
<!--Wow-->
<script src="{{ asset('js/wow.min.js') }}"></script>
<!--Venobox-->
<script src="{{ asset('js/venobox.min.js') }}"></script>
<!--Jquery Ui-->
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<!--Countdown-->
<script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
<!--Plugins-->
<script src="{{ asset('js/plugins.js') }}"></script>
<!--Main Js-->
<script src="{{ asset('js/main.js') }}"></script>
{% block scriptblock %}

{% endblock %}
</body>
</html>
{% endblock %}