{% extends 'base.html.twig' %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('alert') %}
        <script> alert("{{ flashMessage }}");</script>




    {% endfor %}

    <br>  <br>  <br>  <br><br>  <br>


    <div class="single-product-area mb-115">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-5">
                    <div class="product-details-img-tab">
                        <!--Product Tab Content Start-->
                        <div class="tab-content single-product-img">
                            <div class="tab-pane fade show active" id="product1">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="{{ asset('img/event/'~evenements.image)}}">
                                            <img src="{{ asset("uploads/images/"~evenements.image)}}" alt="">
                                        </a>
                                        <a href="{{ asset("uploads/images/"~evenements.image)}}" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-12 ml-auto mr-auto mb-20">
                            <!--Count Down Area Start-->
                            <div class="count-down-area">
                                <!--Count Down Start-->
                                <div class="countdown-inner">
                                    <div class="count-box">
                                        <div class="pro-countdown" data-countdown="{{ evenements.dateDebut|date("Y/m/d") }}"></div>
                                    </div>
                                </div>
                                <!--Count Down End-->
                                <!--Count Down Start-->
                                <div class="countdown-inner">
                                    <div class="count-box">
                                        <div class="pro-countdown" data-countdown="{{ evenements.dateDebut|date("Y/m/d") }}"></div>
                                    </div>
                                </div>
                                <!--Count Down End-->
                                <!--Count Down Start-->
                                <div class="countdown-inner">
                                    <div class="count-box">
                                        <div class="pro-countdown" data-countdown="{{ evenements.dateDebut|date("Y/m/d") }}"></div>
                                    </div>
                                </div>
                                <!--Count Down End-->
                                <!--Count Down Start-->
                                <div class="countdown-inner">
                                    <div class="count-box">
                                        <div class="pro-countdown" data-countdown="{{ evenements.dateDebut|date("Y/m/d") }}"></div>
                                    </div>
                                </div>
                                <!--Count Down End-->
                                <!--Count Down Start-->
                                <div class="countdown-inner">
                                    <div class="count-box">
                                        <div class="pro-countdown" data-countdown="{{ evenements.dateDebut|date("Y/m/d") }}"></div>
                                    </div>
                                </div>

                                <!--Count Down End-->
                            </div>
                            <!--Count Down Area End-->
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-7">
                    <!--Product Details Content Start-->
                    <div class="product-details-content">
                        <!--Product Nav Start-->
                        <div class="product-nav">
                            <a href="#"><i class="fa fa-angle-left"></i></a>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <!--Product Nav End-->

                        <div class="product-filter  mb-35">
                            <h5>{{evenements.nomEvenement }}</h5>



                        </div>
                        <div class="single-product-reviews">

                            <a class="single-product-price" href="#"><span class="regular-price" >Adresse : {{evenements.adresse}}</span> </a>

                        </div>
                        <div class="single-product-price">
                            <span class="regular-price">Prix :</span>
                            <span class="regular-price">{{evenements.prix }} DT</span>
                        </div>
                        <br>
                        <div class="single-product-price">
                            <span class="regular-price">Date debut de l'evenement : </span>
                            <span class="regular-price">{{evenements.dateDebut|date("Y/m/d") }}</span>
                        </div>
                        <br>
                        <div class="single-product-price">
                            <span class="regular-price">Date fin de l'evenement : </span>
                            <span class="regular-price">{{evenements.dateFin|date("d/m/Y") }}</span>
                        </div>
                        <br>
                        <div class="single-product-price">
                            <span class="regular-price">Cet evenement est : </span>
                            <span class="regular-price" id="couleur">{{evenements.etat }}</span>
                        </div>
                        <div class="product-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                        </div>


                        <div class="wishlist-compare-btn" >

                            <a href="{{ path('AjouterReservation', { 'id': evenements.idevenement }) }}" id="buttonAR" class="add-compare">Reserver</a>
                            <a href="{{ path('AjouterStand', { 'id': evenements.idevenement }) }}" id="buttonAP" class="add-compare">Participer</a>

                        </div>





                    </div>
                    <!--Product Details Content End-->
                </div>










            </div>
        </div>
    </div>



<div><center>
    <div class="pricing-table-area pt-120 pb-85">
        <div class="container">
            <div class="row">

                {% for i in stands  %}

                <!--Single Pricing Table Start-->
                <div class="col-md-6 col-lg-3">
                    <div class="single-pricing mb-35">
                        <form action="" method="post">
                        <div class="pricing-head">
                            <h4>Stand numero : {{ i.numerostand}} </h4>
                        </div>
                        <div class="pricing-body">
                            <h5 class="table-price"> <img src="{{ asset("uploads/images/"~evenements.image)}}" alt="" height="200" width="200"></h5>
                            <ul>
                                <li>Nom Participant : {{ i.nomparticipant}}</li>
                                <li>Prenom Participant : {{ i.prenomparticipant}}</li>
                                <li>



                                            <!-- Font Awesome Icon Library -->

                                            <style>
                                                .checked {
                                                    color: orange;

                                                }
                                            </style>



                                        <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:40px;cursor:pointer;"  class="fa fa-star checked"></span>
                                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
                                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>

                                        <br/>

                                        <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                                        <script>
                                            var count;
                                            function initstar() {

                                                for(var i=0;i<5;i++)
                                                {
                                                    if(i<2)
                                                    {
                                                        document.getElementById((i+1)+'one').style.color="orange";
                                                    }
                                                    else
                                                    {
                                                        document.getElementById((i+1)+'one').style.color="black";
                                                    }
                                                }
                                            }
                                            initstar();
                                            function starmark(item)
                                            {
                                                count=item.id[0];
                                                sessionStorage.starRating = count;
                                                var subid= item.id.substring(1);
                                                for(var i=0;i<5;i++)
                                                {
                                                    if(i<count)
                                                    {
                                                        document.getElementById((i+1)+subid).style.color="orange";
                                                    }
                                                    else
                                                    {
                                                        document.getElementById((i+1)+subid).style.color="black";
                                                    }
                                                }
                                            }
                                            function result()
                                            {
//Rating : Count
//Review : Comment(id)
                                                alert("Rating : "+count);
                                                $("#rataa").val(count);

                                            }
                                        </script>






                                </li>
                                <li><input type="text" id="rataa" name="noterating" hidden></li>
                                <li><input type="text" name="idstand" value="{{ i.idstand}}" hidden></li>

                                <li><button class="btn btn-primary" >Ajouter</button></li>
                            </ul>

                        </div>
                        </form>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    </center></div>
    <input type="text" value="{{ evenements.nbplace }}" id="dispo" hidden>
    <input type="text" value="{{ evenements.nbstand }}" id="dispoP" hidden>
    <input type="text" value="{{ evenements.etat }}" id="dispoT" hidden>



    <div class="navigation">
        {{ knp_pagination_render(stands) }}
    </div>

    <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>

    <script type="text/javascript">
        $("document").ready(function () {
            $("#couleur").css("background-color", "green");

           if($("#dispo").val()<=0)
           {
               $("#buttonAR").hide();

               $("#couleur").css("background-color", "orange");
           }
            if($("#dispoP").val()<=0)
            {
                $("#buttonAP").hide();
                $("#couleur").css("background-color", "orange");
            }

            if($("#dispoT").val()==="Terminer")
            {
                $("#buttonAR").hide();
                $("#buttonAP").hide();
                $("#couleur").css("background-color", "red");
            }



        })
        </script>

{% endblock %}