{% extends 'base.html.twig' %}

{% block content %}


    <br>  <br>  <br>  <br><br>  <br>


    <div class="protfolio-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="protfolio-menu">
                        <ul class="protfolio-menu-active">
                            <form method="POST">

                                <select class="wide"  name="reg" id="reg">
                                    <option value="" selected disabled>Selectionner le type de recherche</option>
                                    <option value="tout">Touts les evenements</option>
                                    <option value="Aujourdhui">Aujourd'hui</option>
                                    <option value="Demain">Demain</option>
                                    <option value="Cettesemaine">Cette semaine</option>
                                    <option value="Cemois">Ce mois</option>

                                </select>
                                <br><br>


                            </form>

                            <form class="kode_detail_side_field" method="POST">
                                <input type="text" placeholder="Recherche Evenement par Nom" required name="stae" id="s">

                            </form>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Protfolio Menu End-->
    <!--Protfolio Item Start-->


<form>
<div id="stadeaaaa"  >
    <div class="protfolio-item mb-80" >
        <div class="container-fluid">
            <div class="row protfolio-active">
                {% for event in evenements %}
                <!--Single Protfolio Start-->
  <!--grand photo--> <div class="col-md-6 col-lg-4 col-xl-3 grid-item company">

                    <div class="single-protfolio">
                        <div class="protfolio-img img-full">
                            <img src="{{ asset('uploads/images/'~event.image)}}"alt="">
                            <div class="content">
                                <div class="portfolio-icon">
                                    <a href="{{ path('afficherEvenemntDetail',{'id':event.idEvenement}) }}">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <a class="venobox" data-gall="myGallery" href="#">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="title">{{ event.nomEvenement }}</div>
                            </div>
                        </div>
                    </div>


                </div>
                {% endfor %}
                <!--Single Protfolio End-->
                <!--Single Protfolio Start-->

                <!--Single Protfolio End-->
            </div>


        </div>
    </div>

</div>

</form>

    <script src="{{ asset('jquery-3.2.1.js') }}"></script>

    <script type="text/javascript">
        $("document").ready(function () {

            $("#reg").change(function () {

                $.ajax({
                    url: '{{ path('Evenement_Date_Type') }}',
                    data: {
                        type: $(this).val()
                    },
                    type: 'get',
                    success: function (result, status) {
                        $("#stadeaaaa").html(result)
                    }
                })
            });



            $("#s").keyup(function () {

                $.ajax({
                    url: '{{ path('RechercheEvenemnt') }}',
                    data: {
                        type: $(this).val()
                    },
                    type: 'get',
                    success: function (result, status) {
                        $("#stadeaaaa").html(result)
                    }
                })
            });
        })
    </script>
{% endblock %}