{% extends 'base.html.twig' %}

{% block content %}
<div class="Shopping-cart-area mb-110">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                            <tr>

                                <th class="plantmore-product-thumbnail">images</th>
                                <th class="cart-product-name">Nom Evenement</th>
                                <th class="plantmore-product-price">Prix</th>
                                <th class="plantmore-product-quantity">nombre de personnes</th>
                                <th class="plantmore-product-subtotal">Total Prix</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for res in reservations %}
                            <tr>

                                <td class="plantmore-product-thumbnail"><a href="#"><img src="{{ asset("uploads/images/"~res.event.image) }}" width="100" height="100" alt=""></a></td>
                                <td class="plantmore-product-name"><a href="#">{{ res.event.nomevenement }}</a></td>
                                <td class="plantmore-product-price"><span class="amount">{{ res.event.prix }} DT</span></td>
                                <td class="plantmore-product-quantity">
                                    <input value="{{ res.NbPersonnes }}" type="number" disabled>
                                </td>
                                <td class="product-subtotal"><span class="amount">{{ res.event.prix * res.NbPersonnes }} DT</span></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}