<div id="stadeaaaa"  >
    <div class="protfolio-item mb-80" >
        <div class="container-fluid">
            <div class="row protfolio-active">
                {% for event in evenements %}
                    <!--Single Protfolio Start-->
                    <!--grand photo--> <div class="col-md-6 col-lg-4 col-xl-3 grid-item company">

                    <div class="single-protfolio">
                        <div class="protfolio-img img-full">
                            <img src="{{ asset('uploads/images/'~event.image)}}"alt="">
                            <div class="content">
                                <div class="portfolio-icon">
                                    <a href="{{ path('afficherEvenemntDetail',{'id':event.idEvenement}) }}">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <a class="venobox" data-gall="myGallery" href="#">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="title">{{ event.nomEvenement }}</div>
                            </div>
                        </div>
                    </div>


                </div>
                {% endfor %}
                <!--Single Protfolio End-->
                <!--Single Protfolio Start-->

                <!--Single Protfolio End-->
            </div>


        </div>
    </div>

</div>