<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {% block title %} pepiniere {% endblock %}</title>
    <meta name="description" content="">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, follow" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
    <!--All Css Here-->

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{{absolute_url(asset('css/bootstrap.min.css')) }}">
    <!-- Linearicon CSS-->
    <link rel="stylesheet" href="{{absolute_url(asset('css/linearicons.min.css')) }}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/font-awesome.min.css')) }}">

    <!-- Animate CSS-->
    <link rel="stylesheet" href="{{absolute_url(asset('css/animate.css')) }}">
    <!-- Owl Carousel CSS-->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/owl.carousel.min.css')) }}">
    <!-- Slick CSS-->
    <link rel="stylesheet" href="{{absolute_url( asset('css/slick.css')) }}">
    <!-- Meanmenu CSS-->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/meanmenu.min.css')) }}">
    <!-- Easyzoom CSS-->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/easyzoom.css')) }}">
    <!-- Venobox CSS-->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/venobox.css')) }}">
    <!-- Jquery Ui CSS-->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/jquery-ui.css')) }}">
    <!-- Nice Select CSS-->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/nice-select.css')) }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('style.css')) }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/responsive.css')) }}">
    <!-- Modernizr Js -->
    <script src="{{ absolute_url(asset('js/vendor/modernizr-2.8.3.min.js')) }}"></script>
</head>
<body>


<div class="col-lg-6 col-12">
    <div class="your-order">
        <h3>Votre Reservation</h3>
        <div class="your-order-table table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="cart-product-name">Nom: </th>
                    <th class="cart-product-total">{{ users.username }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="cart_item">
                    <td class="cart-product-name"> Nom de l'evenement:<strong class="product-quantity"></strong></td>
                    <td class="cart-product-total"><span class="amount">{{ evenements.nomevenement }}</span></td>
                </tr>
                <tr class="cart_item">
                    <td class="cart-product-name"> Date reservation :<strong class="product-quantity"></strong></td>
                    <td class="cart-product-total"><span class="amount">{{ reservations.dateReservation|date("d/m/Y") }}</span></td>
                </tr>
                <tr class="cart_item">
                    <td class="cart-product-name"> Nombre de place :<strong class="product-quantity"></strong></td>
                    <td class="cart-product-total"><span class="amount">{{ reservations.nbpersonnes }}</span></td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="cart-subtotal">
                    <th>Prix :</th>
                    <td><span class="amount" >{{ evenements.prix }} DT * {{ reservations.nbpersonnes }}</span></td>
                </tr>
                <tr class="order-total">
                    <th>Prix Totale : </th>
                    <td><strong><span class="amount" id="aaaaa">    ****DT</span></strong></td>
                </tr>
                </tfoot>
            </table>

            <input type="text" value="{{ evenements.prix }}" id="prixa" hidden>
            <input type="text" value="{{ reservations.nbpersonnes }}" id="nombreticketper" hidden>
        </div>

    </div>
</div>



<script src="{{ absolute_url(asset('js/vendor/jquery-1.12.4.min.js')) }}"></script>
<!--Popper-->
<script src="{{ absolute_url(asset('js/popper.min.js')) }}"></script>
<!--Bootstrap-->
<script src="{{ absolute_url(asset('js/bootstrap.min.js')) }}"></script>
<!--Imagesloaded-->
<script src="{{ absolute_url(asset('js/imagesloaded.pkgd.min.js')) }}"></script>
<!--Isotope-->
<script src="{{ absolute_url(asset('js/isotope.pkgd.min.js')) }}"></script>
<!--Waypoints-->
<script src="{{ absolute_url(asset('js/waypoints.min.js')) }}"></script>
<!--Counterup-->
<script src="{{ absolute_url(asset('js/jquery.counterup.min.js')) }}"></script>
<!--Carousel-->
<script src="{{ absolute_url(asset('js/owl.carousel.min.js')) }}"></script>
<!--Slick-->
<script src="{{ absolute_url(asset('js/slick.min.js')) }}"></script>
<!--Meanmenu-->
<script src="{{ absolute_url(asset('js/jquery.meanmenu.min.js')) }}"></script>
<!--Easyzoom-->
<script src="{{ absolute_url(asset('js/easyzoom.min.js')) }}"></script>
<!--Nice Select-->
<script src="{{ absolute_url(asset('js/jquery.nice-select.min.js')) }}"></script>
<!--ScrollUp-->
<script src="{{ absolute_url(asset('js/jquery.scrollUp.min.js')) }}"></script>
<!--Wow-->
<script src="{{ absolute_url(asset('js/wow.min.js')) }}"></script>
<!--Venobox-->
<script src="{{ absolute_url(asset('js/venobox.min.js')) }}"></script>
<!--Jquery Ui-->
<script src="{{ absolute_url(asset('js/jquery-ui.js')) }}"></script>
<!--Countdown-->
<script src="{{ absolute_url(asset('js/jquery.countdown.min.js')) }}"></script>
<!--Plugins-->
<script src="{{ absolute_url(asset('js/plugins.js')) }}"></script>
<!--Main Js-->
<script src="{{ absolute_url(asset('js/main.js')) }}"></script>

<script src="{{ absolute_url(asset('js/jquery-3.2.1.js')) }}"></script>
<script type="text/javascript">
    $("document").ready(function () {




                rare=$("#nombreticketper").val()*$("#prixa").val();
                $("#aaaaa").text(rare);


    })
</script>
</body>
</html>
