{% extends 'base.html.twig' %}

{% block content %}


    <br>  <br>  <br>  <br><br>  <br>


    <form action="" method="post">
        <center>


            <div class="col-lg-6 col-12">
                <form action="#">
                    <div class="checkbox-form">
                        <h3>Reservation</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="country-select clearfix">
                                    <label>Nom Evenement : {{ evenements.nomevenement }}<span class="required">*</span></label>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Au nom de : {{ users.username }} <span class="required">*</span></label>


                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>nombres de personnes <span class="required">*</span></label>

                                    <select class="wide" name="nbPersonne" id="Prenomparticipant" required>
                                        {% for i in 1..evenements.nbplace %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}


                                    </select>

                                </div>
                            </div>





                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-primary" >Ajouter</button>

                            </div>
                            <br><br><br>

                        </div>

                    </div>
                </form>
            </div>
            </div>





        </center>
    </form>














{% endblock %}