{% extends 'base.html.twig' %}

{% block content %}


    <br>  <br>  <br>  <br><br>  <br>


    <form action="" method="post" enctype="multipart/form-data">
    <center>


            <div class="col-lg-6 col-12">
                <form action="#">
                    <div class="checkbox-form">
                        <h3>Ajouter Stand</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="country-select clearfix">
                                    <label>Numero Stand :<span class="required">*</span></label>
                                    <select class="wide" name="Numerostand" id="Numerostand">
                                        {% for i in 1..evenements.nbstand %}
                                             <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}


                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Nom Participant : {{ users.username }} <span class="required">*</span></label>


                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Prenom Participant : {{ users.username }} <span class="required">*</span></label>


                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="checkout-form-list">

                                    <input type="file" name="image" id="image" src="file:///C:/wamp64/www/Images/" required>
                                </div>
                            </div>

                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-primary" re>Ajouter</button>

                            </div>
<br><br><br>

                        </div>

                    </div>
                </form>
            </div>
        </div>





    </center>
    </form>














{% endblock %}