{% extends 'basegreen.html.twig' %}

{% block content %}




    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-6">
                <div class="card card-block sameheight-item">



    <form action="" method="post" enctype="multipart/form-data">


         <div class="col-12">
                <form action="#">
                    <div class="checkbox-form">

                        <div class="title-block">
                            <h3 class="title">Ajouter Un Evenement </h3>

                        </div>
                        <div class="card-block">
                        <div class="row">

                            <div class="form-group">
                                    <label>Nom Evenement <span class="required">*</span></label>

                                  <div  class="autocomplete"> <input placeholder="" class="form-control underlined" type="text" name="nom" id="nom" required></div>
                            </div>

                            <div class="form-group">
                                    <label>Adresse <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="text" name="adresse" id="adresse" required>

                            </div>

                            <div class="form-group">
                                    <label>Date debut <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="date" name="datedebut" id="datedebut" required>

                            </div>

                            <div class="form-group">
                                    <label>Date fin <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="date" name="datefin" id="datefin" required>

                            </div>

                            <div class="form-group">
                                    <label>nombre du place <span class="required">*</span></label>
                                    <input class="form-control underlined"  placeholder="" type="number" name="nombreduplace" id="nombreduplace" max="100" required>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label>Prix <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="number" name="prix" id="prix" required>

                            </div>
                            <div class="form-group">
                                    <label>nombre du stand <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="number" name="nombredustand" id="nombredustand" required>
                                </div>
                            </div>

                        <div class="form-group">
                                    <label>Image <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="file" name="img" id="img" required>
                                </div>
                            </div>

                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-primary" re>Ajouter</button>

                            </div>


                        </div>
                        </div>

                    </div>
                </form>
            </div>






    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script src="{{ asset('js/autocomplete.js') }}"></script>
    <script type="text/javascript">
        $("document").ready(function () {
            var countries = ["Ave Farhat Hached 2080 Ariana","Ave Taieb M’Hiri 2080 Ariana","Ave Med Salah Belhadj, Résidence les roses - Ariana","23 Ave Taieb M’Hiri 2080 Ariana","17 Ave Ahmed Khabthani 2080 Ariana","Rue Abderrahmen Mami 2080 Ariana","Ave Farhat Hached 2080 Ariana","Tunis Carthage 2035","Cité Administrative 2027 Ariana ","Rue Ennassim 2080 Ariana","Ave de l’Indépendance 2080 Ariana",
                "Rue du Maréchal Tito, 4000 Sousse ","Rue de Ribat, 4059 Sousse ","Avenue Mohamed V - 4000 Sousse","Rue Abdallah Ibn Zoubaier-4000 Sousse","Avenue Hssouna ayachi-4000 Sousse","Rue Khelifa Karoui 4002-sahloul4","AV.H.bourguiba B.P 258-4018 Sousse ","PLACE DE LA REPUBLIQUE -7000 - BIZERTE","PLACE 14 JANVIER -7000 – BIZERTE","AVE HABIB BOURGUIBA -7000 – BIZERTE","RUE DE RUSSIE -7000 - BIZERTE","RUE HEDI CHAKER –7000-BIZERTE","QUAI TAREK IBN ZIAD-7000-BIZERTE",
                "BIZERTE CENTER 7000 BIZERTE","AVE HABIB BOURGUIBA - 7000 BIZERTE","4 rue santé enkhilette","Rue Hédi Khfécha Tunis"];
            autocomplete(document.getElementById("adresse"), countries);

            $("#datefin").change(function() {

                var start = $("#datedebut").val();
                var end = $("#datefin").val();

                var startDay = new Date(start);
                var endDay = new Date(end);
                var millisecondsPerDay = 1000 * 60 * 60 * 24;

                var millisBetween = endDay.getTime() - startDay.getTime();
                var days = millisBetween / millisecondsPerDay;
                if (days>0) {


                } else {
                    $("#datefin").val(null);
                    $("#datedebut").val(null);
                    alert("la date fin de l'evenement doit être inférieur a la date du debut");
                }


            });





            $("#nombreduplace").keyup(function() {
                var input = $(this).val();
                var regex = new RegExp("^[0-9|,|.]+$");

                if (regex.test(input)&&input.length<=2) {


                } else {
                    $(this).val(input.substr(0, input.length-1));
                    alert("Ce champs doit etre remplie pas un nombre positive et inferieur à 100");
                }



            });

            $("#nombreduplace").change(function() {
                var input = $(this).val();
                var regex = new RegExp("^[0-9|,|.]+$");

                if (regex.test(input)&&input.length<=2) {

                } else {
                    $(this).val(input.substr(0, input.length-1));
                    alert("Ce champs doit etre remplie pas un nombre positive et inferieur à 100");
                }
            });




            $("#prix").keyup(function() {
                var input = $(this).val();
                var regex = new RegExp("^[0-9|,|.]+$");
                if (regex.test(input)) {

                } else {
                    $(this).val(input.substr(0, input.length-1));
                    alert("Ce champs doit etre remplie pas un nombre positive");
                }
            });

            $("#prix").change(function() {
                var input = $(this).val();
                var regex = new RegExp("^[0-9|,|.]+$");
                if (regex.test(input)) {

                } else {
                    $(this).val(input.substr(0, input.length-1));
                    alert("Ce champs doit etre remplie pas un nombre positive");
                }
            });

            $("#nombredustand").keyup(function() {
                var input = $(this).val();
                var regex = new RegExp("^[0-9|,|.]+$");
                if (regex.test(input)&&input.length<=2) {

                } else {
                    $(this).val(input.substr(0, input.length-1));
                    alert("Ce champs doit etre remplie pas un nombre positive et inferieur à 100");
                }
            });

            $("#nombredustand").change(function() {
                var input = $(this).val();
                var regex = new RegExp("^[0-9|,|.]+$");
                if (regex.test(input)&&input.length<=2) {

                } else {
                    $(this).val(input.substr(0, input.length-1));
                    alert("Ce champs doit etre remplie pas un nombre positive et inferieur à 100");
                }
            });
        });
    </script>











{% endblock %}