{% extends 'basegreen.html.twig' %}

{% block content %}


    <br>  <br>  <br>  <br><br>  <br>

    <section class="section">
    <div class="row sameheight-container">
    <div class="col-md-6">
    <div class="card card-block sameheight-item">




<form action="" method="post" enctype="multipart/form-data">
        <center>

            <div class="col-12">

                    <div class="checkbox-form">
                        <h3>Modifier l'evenement : {{evenements.nomEvenement }} </h3>
                        <div class="row">


                            <div class="form-group">

                                    <label>Nom Evenement <span class="required">*</span></label>

                                    <input class="form-control underlined" placeholder=""  type="text" name="nom" id="nom" value="{{evenements.nomEvenement }}" required>

                            </div>

                            <div class="form-group">

                                    <label>Adresse <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="text" name="adresse" id="adresse" value="{{evenements.adresse}}" required>

                            </div>

                            <div class="form-group">

                                    <label>Date debut <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="date" name="datedebut" id="datedebut" value="{{ evenements.dateDebut.format('Y-m-d')|date('Y-m-d') }}" required>

                            </div>

                            <div class="form-group">

                                    <label>Date fin <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="date" name="datefin" id="datefin" value="{{ evenements.dateFin.format('Y-m-d')|date('Y-m-d') }}" required>

                            </div>

                            <div class="form-group">

                                    <label>nombre du place <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="number" name="nombreduplace" id="nombreduplace" value="{{ evenements.nbplace }}" required>

                            </div>
                            <div class="form-group">

                                    <label>Prix <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="number" name="prix" id="prix" value="{{ evenements.prix }}" required>

                            </div>
                            <div class="form-group">

                                    <label>nombre du stand <span class="required">*</span></label>
                                    <input class="form-control underlined" placeholder="" type="number" name="nombredustand" id="nombredustand" value="{{ evenements.nbstand }}" required>

                            </div>

                            <div class="form-group">

                                    <label>Image <span class="required">*</span></label>
                                    <input class="form-control underlined"  type="file" name="img" id="Image"  required>

                            </div>




                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-primary" re>Modifier</button>

                            </div>


                        </div>

                    </div>
               
            </div>





        </center>
    </form>


    </div>
    </div>
    </div>
    </section>











{% endblock %}