{% extends 'basegreen.html.twig' %}

{% block content %}


    <br>  <br>  <br>  <br><br>  <br>


    <form action="" method="post">



            <div class="col-lg-12 col-12">
                <form action="#">
                    <div class="checkbox-form">
                        <h3>la liste Des Evenements </h3>
                        <div class="row">



                            <table class="table">
                                <tr>

                                    <td style=" color: green; font-weight: bold">nom d'evenement</td>
                                    <td style=" color: green; font-weight: bold">date</td>
                                    <td style=" color: green; font-weight: bold">Utilisateur</td>
                                    <td style=" color: green; font-weight: bold">Nombre de personne </td>



                                </tr>
                                {% for i in reservation %}
                                    <tr>
                                        <td>{{ i.event.nomevenement }}</td>
s                                        <td>{{ i.dateReservation|date("d/m/Y") }}</td>

                                        <td>{{ i.user.username }} </td>
                                         <td>{{ i.nbPersonnes }}</td>



                                      </tr>
                                {% endfor %}
                            </table>
                        </div>
</div?
                    </div>
                </form>
            </div>
        <br>  <br>  <br>  <br><br>  <br>






    </form>














{% endblock %}