{% extends 'basegreen.html.twig' %}

{% block content %}


    <br>  <br>  <br>  <br><br>  <br>


    <form action="" method="post">



        <div class="col-lg-12 col-12">
            <form action="#">
                <div class="checkbox-form">
                    <h3>la liste Des Evenements </h3>
                    <div class="row">



                        <table class="table table-bordere table-hover table-striped">
                            <tr>

                                <td style=" color: green; font-weight: bold">Numero Standt</td>
                                <td style=" color: green; font-weight: bold">nom de l evenement</td>
                                <td style=" color: green; font-weight: bold">Utilisateur</td>
                                <td style=" color: green; font-weight: bold">Image</td>



                            </tr>
                            {% for i in reservation %}
                                <tr>
                                    <td>{{ i.numerostand }}</td>

                                    <td>{{ i.nomevenement }} </td>
                                    <td>{{ i.nomparticipant }}</td>
                                    <td>            <img src="{{ asset('uploads/images/'~i.image)}}" style="width: 80px;height: 80px" alt="">
                                    </td>



                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div?
        </div>
    </form>
    </div>
    <br>  <br>  <br>  <br><br>  <br>






    </form>














{% endblock %}