{% extends 'base.html.twig' %}

{% block content %}


    <br>  <br>  <br>  <br><br>  <br>
    <div class="col-md-4 w3l-char">
        <div class="charts-grids widget">
            <h4 class="title">Statistiques</h4>
            <div id="div_chart"></div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                {{ gc_draw(piechart,'div_chart') }}
            </script>
            <canvas id="pie"> </canvas>
        </div>

    </div>
{% endblock %}