{% extends "base.html.twig" %}

{% block content %}
    <div class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-title">
                        <h1>Service</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area mb-115">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-2"></div>
                <div class="col-md-12 col-lg-8">
                    <!--Product Details Content Start-->

                        <!--Product Nav Start-->

                        <!--Product Nav End-->
                        <h2>{{ ser.nom }}        </h2>
                        <span class="cart-price">{{ ser.tarif }} DT/Mois</span>

                        <div class="product-description">
                            <p style="font-size: 25px">{{ ser.description }}</p>
                        </div>

                        <div class="col-md-12 col-lg-12">

                                <div class="row">
                                    <div class="col-md-4 col-lg-6">


                                    </div>
                                    <div class="col-md-4 col-lg-3">

                                        <span class="regular-price">$77.00</span>
                                    </div>
                                    <div class="col-md-4 col-lg-3">
                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">s'abonner</button>
                                    </div>
                                </div>
                        </div>
                </div>
                    <!--Product Details Content End-->
            </div>
        </div>
    </div>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Paiement</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                    <form action="" method="post" id="payment-form">
                    <div class="row">

                        <div class="col-md-4 col-lg-3">
                            <label>S'abonne pour :</label>
                        </div>
                        <div class="col-md-4 col-lg-9">

                            <select class="wide" id="type" name="type">
                                <option data-display="Select">Choisiser</option>
                                <option value="1">un Mois</option>
                                <option value="2">3 mois</option>
                                <option value="3">6 mois</option>
                                <option value="4">une annee</option>

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                        <p id="datedebut"></p>
                        </div>
                        <div class="col-6">
                            <p id="datefin"></p>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-6">
                                {% block captcha_widget %}
                                    {% spaceless %}

                                        {{ form_widget(form) }}
                                    {% endspaceless %}
                                {% endblock %}
                            </div>
                        </div>


                        <input id="datedd" name="dated" type="date" hidden>
                        <input id="dateff" name="datef" type="date" hidden>

                        <div class="form-row" style="display: block">
                            <label for="card-element">
                                Credit or debit card
                            </label>
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display Element errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>

                        <button>Submit Payment</button>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("datedebut").innerHTML = d + "/" + m + "/" + y;
        const dateToInput = date =>
            `${date.getFullYear()
                }-${('0' + (date.getMonth() + 1)).slice(-2)
                }-${('0' + date.getDate()).slice(-2)
                }`;
        $("#datedd").val(dateToInput(n)) ;
        $("#type").change(function () {
            n =  new Date();
            switch ($(this).val()) {
                case '1' :  n.setMonth(n.getMonth() + 1); console.log("Asdad");break;
                case '2' :  n.setMonth(n.getMonth() + 3); break;
                case '3' :  n.setMonth(n.getMonth() + 6); break;
                case '4' :  n.setFullYear(n.getFullYear() + 1);  break;

            }
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("datefin").innerHTML = d + "/" + m + "/" + y;
            $("#dateff").val(dateToInput(n)) ;
        })



    </script>

    <script>
        var stripe = Stripe('pk_test_Jys4aI83qsa7UNmpjGjQdv9F00ZarAMVQv');
        var elements = stripe.elements();
        var style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: "#32325d",
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');
        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);


            // Submit the form
            form.submit();
        }
    </script>

{% endblock %}