{% block subject %} Confirmation d'inscription {% endblock %}



{% block body_text %}
    {% autoescape false %}

    bonjour {{ user.username }}
    Confirmer ton inscription en cliquant sur le lien suivant : {{ confirmationUrl }}
    Amicallement,
    L'aute
    {% endautoescape %}
{% endblock %}