{% extends 'base.html.twig' %}

{% block panier %}
    {% if panier %}
        <div class="col-xl-2 col-lg-3 col-md-4 order-md-3 order-lg-4">
            <div class="mini-cart">
                <a href="#">
                                        <span class="cart-icon">
                                           <span class="cart-quantity">{{ count }}</span>
                                        </span>
                    <span class="cart-title">Votre Panier <br><strong>{{ sum }} DT</strong></span>
                </a>
                <!--Cart Dropdown Start-->
                <div class="cart-dropdown">
                    <ul>
                        {% for p in panier %}
                        <li class="single-cart-item">
                            <div class="cart-img">
                                <a href="{{ path('Afficherdetail',{ 'id' : p.idproduit.idproduit}) }}"><img src="{{ asset('img/cart/cart1.jpg') }}" alt=""></a>
                            </div>
                            <div class="cart-content">
                                <h5 class="product-name"><a href="{{ path('Afficherdetail',{ 'id' : p.idproduit.idproduit}) }}">{{ p.idProduit.nom }}</a></h5>
                                <span class="cart-price">{{ p.quantite }} × {{ p.idproduit.prix }} DT</span>
                            </div>
                            <div class="cart-remove">
                                <a title="Remove" href="{{ path('cart_supp',{'id' : p.idproduit.idproduit}) }}"><i class="fa fa-times"></i></a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="cart-subtotal"><strong>Subtotal:</strong> <span class="float-right">{{ sum }} DT</span></p>
                    <p class="cart-btn">
                        <a href="{{ path('cart_vente') }}">Detail Panier</a>
                        <a href="checkout.html">Checkout</a>
                    </p>
                </div>
                <!--Cart Dropdown End-->
            </div>
        </div>
    {% endif %}


{% endblock %}
{% block content %}
    <div class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-title">
                        <h1> Produits</h1>
                    </div>
                    <div class="breadcrumb-content breadcrumb-content-tow">
                        <ul>
                            <li><a href="index.html">Home</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">



    <div class="row">
        <div class="col-l0g-3 order-2 order-lg-1">

            <!--Product Category Widget Start-->
            <div class="shop-sidebar">
                <div class="shop-sidebar">
                    <div class="breadcrumb-one mb-120">

                        <div class="breadcrumb-content">


                        </div>

                    </div>

                    <h4>Disponibilite</h4>
                    <div class="product-tag">
                        <ul>
                            <li><a id="Stock" href="{{ path('AfficherClient',{'enstock': 1}) }}">En stock</a></li>

                            <li><a id="HorsStock" href="{{ path('AfficherClient',{'horstock': 1}) }}">Hors Stock</a></li>

                            <li><a id="All" href="{{ path('AfficherClient') }}">All</a></li>
                        </ul>
                    </div>
                </div>
                <h4>Categories des produits</h4>
                <div class="categori-checkbox">
                    <form action="#">
                        <ul>
                            {% for c in categories %}

                                <li><a id="catt"  name="rech" href="{{ path('AfficherClient',{'memecat': c.idcategorieproduit}) }}">{{ c.nomCategorie }}</a></li>

                            {% endfor %}
                        </ul>
                    </form>
                </div>

            </div>
            <!--Product Category Widget End-->
            <!--Color Category Widget Start-->
            <div class="shop-sidebar">
                <h4>Saison </h4>
                <div class="categori-checkbox">
                    <form action="#">
                        <ul>

                            <li><a id="Ete"  href="{{ path('AfficherClient',{'saisonEte': 1}) }}">  Ete</a></li>
                            <li><a id="Printemps"  href="{{ path('AfficherClient',{'saisonPrintemps': 1}) }}"> Printemps</a></li>
                            <li><a id="Automne"  href="{{ path('AfficherClient',{'saisonAutomne': 1}) }}">  Automne</a></li>
                            <li><a id="Hiver"  href="{{ path('AfficherClient',{'saisonHiver': 1}) }}"> Hiver</a></li>


                        </ul>
                    </form>
                </div>
            </div>
            <!--Color Category Widget End-->
            <!--Price Filter Widget Start-->

            <!--Price Filter Widget End-->
            <!--Recent Product Widget Start-->

            <!--Recent Product Widget End-->
            <!--Banner Widget Start-->
            <div class="shop-sidebar">
                <div class="sidebar-banner single-banner">
                    <div class="banner-img">
                        <a href="#"><img src="img/banner/shop-sidebar.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <!--Banner Widget End-->
            <!--Product Tags Widget Start-->

            <!--Product Tags Widget End-->
        </div>
        <div  class="col-lg-9 order-1 order-lg-2">
            <div class="shop-layout">
                <!--Breadcrumb One Start-->
                <div class="breadcrumb-one mb-120">
                    <div class="breadcrumb-img">
                        <img src="http://localhost/pepiniere/web/img/page-banner/shop-banner-1.jpg" alt="">
                    </div>
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Shop</li>
                        </ul>
                    </div>

                </div>
                <form action="{{ path('recherchec') }}" method="post">
                    <input name="nom" type="text" placeholder="Recherche">
                    <input type="submit" class="btn btn-group-sm" name="keyword">

                </form>


                <!--Breadcrumb One End-->
                <!--Grid & List View Start-->

                <div class="shop-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
                    <div class="grid-list-option">
                        <ul class="nav">
                            <li>
                                <a data-toggle="tab" href="#grid"><i class="fa fa-th-large"></i></a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#list"><i class="fa fa-th-list"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--Toolbar Short Area Start-->


                            <label>Trier :</label>

                    <div class="product-tag">
                        <ul>
                            <label>Trier :</label>
                            <li> <a id="Stock" href="{{ path('AfficherClient',{'TrieAsc': 1}) }}">Prix ascendant</a>

                                <a id="HorsStock" href="{{ path('AfficherClient',{'TrieDesc': 1}) }}">Prix descendant </a>

                                <a id="All" href="{{ path('AfficherClient',{'TrieAZ': 1}) }}"> par Nom de A a Z</a></li>
                        </ul>
                    </div>
                    <!--Toolbar Short Area End-->
                </div>
                <!--Grid & List View End-->
                <!--Shop Product Start-->

                <div class="shop-product">
                    <div id="myTabContent-2" class="tab-content">
                        <div id="grid" class="tab-pane fade show active">
                            <div class="product-grid-view">
                                <div class="row">
                                    {% for p in produits %}
                                    <div class="col-md-4">
                                        <!--Single Product Start-->
                                        <div class="single-product mb-25">
                                            <div class="product-img img-full">

                                                <a href= "{{ path('Afficherdetail',{'id':p.idproduit}) }}">
                                                    {%  if p.image=="" %}

                                                    <td>   <img src="http://localhost/pepiniere/web/img/produit/nondisponible.png">  </td>

                                                    {% else %}

                                                    <td>    <img src="http://localhost/pepiniere/web/img/produit/{{ p.image }}" WIDTH=200 HEIGHT=200>

                                                        {% endif %}

                                                </a>
                                                {%  if p.quantitestock==0 %}

                                                <span  id="sale" class="onsale">Epuisé</span>
                                                    <script>
                                                        $('#sale').css({ // on rend le champ rouge
                                                            color: 'red',
                                                        });

                                                    </script>

                                                {% else %}
                                                    <span class="onsale">Dispo</span>

                                                    {% endif %}


                                            </div>
                                            <div class="product-content">
                                                <h2><a href="single-product.html">Nom du produit : {{ p.nom }}</a></h2>
                                                <div class="product-price">
                                                    <div class="price-box">
                                                        <span class="regular-price"> Prix :{{ p.prix }} dt</span>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a href="{{ path('ajouter_panier',{'id':p.idproduit}) }}">Ajouter panier</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <!--Single Product End-->
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        <div id="list" class="tab-pane fade">
                            <div class="product-list-view">
                                <div class="product-list-item mb-40">
                                    <div class="row">
                                        {% for p in produits %}
                                        <!--Single List Product Start-->
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <div class="product-img img-full">
                                                    <a href="single-product.html">
                                                        <a href= "{{ path('Afficherdetail',{'id':p.idproduit}) }}">
                                                            {%  if p.image=="" %}

                                                            <td>  <img src="http://localhost/pepiniere/web/img/produit/nondisponible.png">  </td>

                                                            {% else %}

                                                            <td>    <img src="http://localhost/pepiniere/web/img/produit/{{ p.image }}" WIDTH="200" HEIGHT="200">

                                                                {% endif %}
                                                    </a>
                                                        {%  if p.quantitestock==0 %}

                                                            <span  id="salee" class="onsale">Epuisé</span>
                                                            <script>
                                                                $('#salee').css({ // on rend le champ rouge
                                                                    color: 'red',
                                                                });

                                                            </script>

                                                        {% else %}
                                                            <span class="onsale">Dispo</span>

                                                        {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="product-content shop-list">
                                                <h2><a href="single-product.html"> Nom du produit : {{ p.nom }} </a></h2>


                                                <div class="product-price">
                                                    <div class="price-box">
                                                        <span class="price"> Prix :{{ p.prix }} dt </span>

                                                    </div>
                                                </div>
                                                <div class="product-list-action">
                                                    <div class="add-btn">
                                                        <a href="{{ path('ajouter_panier',{'id':p.idproduit}) }}">Ajouter panier</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Pagination Start-->
                        <div class="navigation">
                            {{ knp_pagination_render(produits) }}
                        </div>

                        <!--Pagination End-->
                    </div>
                </div>
                <!--Shop Product End-->
            </div>
        </div>
    </div>
</div>

    </div>


    <script>
    $("#Stock").click(function ()
    {
       $("#grid").remove();

        alert("Voici les Produits En Stock");
    });

    $("#catt").click(function ()
    {
        $("#grid").remove();
        alert("Voici les Produits de cette categorie");
    });

    $("#HorsStock").click(function ()
    {
        $("#grid").remove();
        alert("Voici les Produits Hors Stock");
    });

    $("#Ete").click(function ()
    {
        $("#grid").remove();
        alert("Voici les Produits de cette saison");
    });

    </script>

{% endblock %}



