{% extends 'basegreen.html.twig' %}

{% block content %}

<div class="card">
    <div class="title-block">

        <h3 class="title"> Modifier un produit  </h3>
    </div>


<div class="container">


    <div class="container" align="center">
    <table >
        <form method="post" id="myForm" >

            <tr>

            <tr>
                <td> <label class="control-label">Nom</label></td>
            </tr>
                    <td><input  class="form-control underlined"  id="nomp"  name="Nom" type="text" value="{{ produit.nom }} " required pattern="[a-zA-Z-\.]{3,6}" placeholder=" veuillez entrer une chaine de 3 a 6 caracteres" ></td>
            </tr>

            <tr>
            <tr>
                <td> <label class="control-label">Description </label></td>
            </tr>
                <td><input class="form-control underlined"  id="desc" name="Description" type="text" value="{{ produit.description}}" required pattern="[a-zA-Z-\.]{3,12}" placeholder=" veuillez entrer une chaine de 3 a 12 caracteres"></td>
            </tr>

            <tr>
            <tr>
                <td> <label class="control-label">Prix</label></td>
            </tr>
                <td><input  class="form-control underlined"  id="prix" name="Prix" type="number" value="{{ produit.prix}}" max="300" required placeholder="veuillez entrez un prix entre 0dt et 300dt" ></td>
            </tr>

            <tr>
            <tr>
                <td> <label class="control-label">Prix</label></td>
            </tr>
                <td><input class="form-control underlined"  id="qs"  name="Quantitestock" type="number" value="{{produit.quantitestock}}" min="0" max="50" required placeholder="veuillez entrez entrez une quantite entre 1 et 50"></td>
            </tr>

            <tr>
            <tr>
                <td> <label class="control-label">Image</label></td>
            </tr>
                <td><input class="btn btn-primary-outline"  name="Image" type="file" value="{{produit.image}}" ></td>
            </tr>


            
            <tr>
            <tr>
                <td> <label class="control-label">Saison</label></td>
            </tr>
            <tr>

                <td>

                    <label>
                        <input class="radio"  class="radio"  name="Saison" type="radio" value="Ete"  {% if produit.saison=="Ete"  %} checked  {% endif %}  >
                        <span>Ete</span>
                    </label>
                    <label>
                        <input class="radio"   class="radio" name="Saison" type="radio" value="Hiver" {% if produit.saison=="Hiver"  %} checked  {% endif %}>
                        <span>Hiver</span>
                    </label>
                    <label>
                        <input class="radio"  class="radio" name="Saison" type="radio" value="Printemps"  {% if produit.saison=="Printemps"  %} checked  {% endif %}>
                        <span>Printemps</span>
                    </label>
                    <label>
                        <input class="radio"  class="radio" name="Saison" type="radio" value="Automne"  {% if produit.saison=="Automne"  %} checked  {% endif %}>
                        <span>Automne</span>
                    </label>

                </td>
            </tr>



            </tr>
            <tr>
            <tr>
                <td> <label class="control-label">Categorie</label></td>
            </tr>

            <td> <select  class="form-control "   id="Idcategorieparent" name="Idcategorieparent" class="form-control" >
                    <option value="0">Categorie parent</option>
                        {% for cat in categories %}
                            <option value="{{ cat.idCategorieProduit }}">{{ cat.nomCategorie }}</option>
                        {% endfor %}
                    </select>
                </td>



                        <tr>
                            <td> <label class="control-label">Sous categorie</label></td>
                        </tr>
                        <tr>

                            <td> <select  id="Idcategorie" name="Idcategorie"  class="form-control ">
                                    <option value="select">{{ produit.idcategorie.nomcategorie}}</option>
                                </select>
                            </td>
                        </tr>


                    </select>
                </td>

            </tr>


            <div align="center">

                    <tr>
                        <td><button type="submit" class="btn btn-primary" id="submit"  > Modifier </button> </td>


                    </tr>

            </div>
        </form>
    </table>
</div>
</div>
</div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#Idcategorieparent").change(function () {
                var idcat = $("#Idcategorieparent option:selected").val();
                console.log( $("#Idcategorieparent option:selected").val())
                $.ajax({
                    url:        '{{ path('load_categorie') }}',
                    type:       'POST',
                    data:       {idpc: idcat},
                    dataType:   'json',
                    async:      true,

                    success: function(data, status) {
                        console.log(data);
                        //console.log(JSON.parse(data));
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert('Ajax request failed.');
                    }
                }).done(function (msg) {
                    console.log(msg);
                    $('#Idcategorie').empty()
                    $.each(msg, function (i, item) {
                        $('#Idcategorie').append($('<option>', {
                            value: item.idc,
                            text : item.nom
                        }));
                    });
                    $('#Idcategorie').niceSelect('update');
                });
            })

            $("#submit").click(function(){


                if ( $('#nomp').val().length == ""  ||$('#desc').val().length == ""  || $('#prix').val().length == "" || $('#qs').val().length == ""  || document.getElementsByName("Idcategorieparent")[0].selectedIndex==0 )  {

                    // si la chaîne de caractères est inférieure à 5
                    swal({
                        title: "Champs vide ! ",
                        text: "Veuiller remplir tout les champs s'il vous plait",
                        icon:"error",
                        button :  "ok",
                    });

                    $('#nomp').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });

                    $('#prix').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });
                    $('#qs').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });
                    $('#Idcategorieparent').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });
                    $('#Idcategorie').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });

                }
                else {
                    swal({
                        title: " Remplissage complet ",
                        text: " Remplissage des champs avec succes",
                        icon:"success",
                        button :  "ok",
                    });



                    $('#nomp').css({ // on rend le champ rouge
                        borderColor: 'green',
                        color: 'green'

                    });

                    $('#prix').css({ // si tout est bon, on le rend vert
                        borderColor: 'green',
                        color: 'green'
                    });

                    $('#qs').css({ // si tout est bon, on le rend vert
                        borderColor: 'green',
                        color: 'green'
                    });
                    $('#Idcategorieparent').css({ // on rend le champ rouge
                        borderColor: 'green',
                        color: 'green'

                    });

                    $('#Idcategorie').css({ // on rend le champ rouge
                        borderColor: 'green',
                        color: 'green'

                    });


                }

// controle nom
                if($('#nomp').val().length == "" )

                {

                    $('#nomp').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    }); }
                else {
                    if($('#nomp').val().length >10 || $('#nomp').val().length <3 )

                    {
                        swal({
                            title: " Format non respecte",
                            text: " Veuillez saisir un nom avec au moins 3 caracteres et au plus 10 caractres",
                            icon:"warning",
                            button :  "ok",
                        });
                        $('#nomp').css({ // on rend le champ rouge
                            borderColor: 'orange',
                            color: 'orange'

                        }); }

                    else
                    {
                        $('#nomp').css({ // si tout est bon, on le rend vert
                            borderColor: 'green',
                            color: 'green'
                        });

                    }

                }




                // controle desc
                if($('#desc').val().length == "" )

                {

                    $('#desc').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    }); }
                else {


                    if($('#desc').val().length >12 || $('#desc').val().length <6 )

                    {

                        swal({
                            title: " Format non respecte",
                            text: " Veuillez saisir une description  avec au moins 6 caracteres et au plus 12 caractres",
                            icon:"warning",
                            button :  "ok",
                        });
                        $('#desc').css({ // on rend le champ rouge
                            borderColor: 'orange',
                            color: 'orange'

                        }); }
                    else
                    {

                        $('#desc').css({ // si tout est bon, on le rend vert
                            borderColor: 'green',
                            color: 'green'
                        });
                    }

                }


                // controle prix
                if($('#prix').val().length == "" )

                {

                    $('#prix').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    }); }
                else {

                    if($('#prix').val()> 300 || $('#prix').val() <0)

                    {

                        swal({
                            title: " Format non respecte",
                            text: " Veuillez saisir un prix positif inferieur a 300dt",
                            icon:"warning",
                            button :  "ok",
                        });
                        $('#prix').css({ // on rend le champ rouge
                            borderColor: 'orange',
                            color: 'orange'

                        }); }

                    else {
                        $('#prix').css({ // si tout est bon, on le rend vert
                            borderColor: 'green',
                            color: 'green'
                        });
                    }
                }


                // controle quantite stock
                if($('#qs').val().length == "" )
                {

                    $('#qs').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'
                    });
                }
                else {

                    if($('#qs').val()> 50 || $('#qs').val() <0)

                    {

                        swal({
                            title: " Format non respecte",
                            text: " Veuillez saisir une quantite positif inferieur a 50",
                            icon:"warning",
                            button :  "ok",
                        });
                        $('#qs').css({ // on rend le champ rouge
                            borderColor: 'orange',
                            color: 'orange'

                        }); }

                    else {

                        $('#qs').css({ // si tout est bon, on le rend vert
                            borderColor: 'green',
                            color: 'green'
                        });
                    }
                }

                if(document.getElementsByName("Idcategorieparent")[0].selectedIndex==0 )
                {

                    $('#Idcategorieparent').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'
                    });
                    $('#Idcategorie').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'
                    });
                }
                else {
                    $('#Idcategorieparent').css({ // si tout est bon, on le rend vert
                        borderColor: 'green',
                        color: 'green'
                    });
                    $('#Idcategorie').css({ // si tout est bon, on le rend vert
                        borderColor: 'green',
                        color: 'green'
                    });
                }

            });



        })

    </script>

{% endblock %}

