{% extends 'basegreen.html.twig' %}

{% block content %}


<div class="card">
        <div class="title-block">

                <h3 class="title"> Ajouter un produit  </h3>
            </div>

    <div class="container" align="center">
        <div align="center">
        <form  method="post" id="myForm"  >
            <table  >


                <tr>
                    <td> <label class="control-label">Nom</label></td>
                </tr>
                <tr>
                    <td><input class="form-control underlined" id="nomp" name="Nom" type="text" required pattern="[a-zA-Z-\.]{3,6}" placeholder=" veuillez remplire au moins 3 caracteres  au plus 6 caratcteres"  ></td>
                </tr>

                <tr>
                    <td> <label class="control-label">Description </label></td>
                </tr>
                <tr>

                    <td><input class="form-control underlined" id="desc" name="Description" type="text" required pattern="[0-9a-zA-Z-\.]{3,12}" placeholder=" veuillez remplire au moins 3 caracteres  au plus 12 caratcteres" > </td>
                </tr>
                <tr>
                    <td> <label class="control-label">Prix</label></td>
                </tr>
                <tr>

                    <td><input class="form-control underlined" id="prix" name="Prix" type="number"  max="300" required placeholder="Entre 0dt et 300dt" > dt</td>
                </tr>
                <tr>
                    <td> <label class="control-label">Quantite Stock</label></td>
                </tr>
                <tr>

                    <td><input class="form-control underlined"  id="qs" name="Quantitestock" type="number" min="0" max="50" required placeholder="Entre 1 et 50"></td>
                </tr>
                <tr>
                    <td> <label class="control-label">Image</label></td>
                </tr>
                <tr>

                    <td><input class="btn btn-primary-outline" name="Image" type="file"></td>
                </tr>
                <tr>
                    <td> <label class="control-label">Saison</label></td>
                </tr>
                <tr>

                    <td>

                        <label>
                            <input checked="checked"  class="radio"  name="Saison" type="radio" value="Ete"  >
                            <span>Ete</span>
                        </label>
                        <label>
                            <input class="radio" name="Saison" type="radio" value="Hiver">
                            <span>Hiver</span>
                        </label>
                        <label>
                            <input class="radio" name="Saison" type="radio" value="Printemps">
                            <span>Printemps</span>
                        </label>
                            <label>
                                <input class="radio" name="Saison" type="radio" value="Automne">
                                <span>Automne</span>
                            </label>

                        </td>
                </tr>

                <tr>
                    <td> <label class="control-label">Categorie</label></td>
                </tr>

                <tr>

                    <td> <select  id="Idcategorieparent" name="Idcategorieparent"  class="form-control">
                            <option value="0">Categorie parent</option>
                            {% for cat in categories %}
                            <option value="{{ cat.idCategorieProduit }}">{{ cat.nomCategorie }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> <label class="control-label">Sous categorie</label></td>
                </tr>
                    <tr>

                    <td> <select  id="Idcategorie" name="Idcategorie"  class="form-control ">
                            <option value="select">Sous categorie</option>
                        </select>
                    </td>
                </tr>


        </table>
        </form>
        </div>
        <div align="center">

            <tr>
                <td><button type="submit" class="btn btn-primary" id="submit"  > Ajouter </button> </td>

            </tr>


    </div>
    </div>

</div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <td> <label class="control-label">Est ce que vous voulez vraiment ajouter ce nouveau produit ? on a trouvé des produits qui le ressemble </label></td>

                </div>
                <div class="modal-body">
                    <ul id="listprod">

                    </ul>
                    <button class="btn btn-primary" type="submit" id="jouterform"> ajouter produit</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-outline" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" >


        var ee = 0;

        $(document).ready(function () {

            $("#Idcategorieparent").change(function () {
                var idcat = $("#Idcategorieparent option:selected").val();
                console.log( $("#Idcategorieparent option:selected").val())
                $.ajax({
                    url:        '{{ path('load_categorie') }}',
                    type:       'POST',
                    data:       {idpc: idcat},
                    dataType:   'json',
                    async:      true,

                    success: function(data, status) {
                        console.log(data);
                        //console.log(JSON.parse(data));
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert('Ajax request failed.');
                    }
                }).done(function (msg) {
                    console.log(msg);
                    $('#Idcategorie').empty()
                    $.each(msg, function (i, item) {
                        $('#Idcategorie').append($('<option>', {
                            value: item.idc,
                            text : item.nom
                        }));
                    });
                   // $('#Idcategorie').niceSelect('update');
                });
            })


            function submitform() {
                // controlle saisie

                console.log('asd');

            }
            $(document).on("click", ".modifp btn btn-primary", function(){
                console.log('asd')
                console.log({ 'idprod': 'thisid'});
                var url = '{{ path('produit_update',{ 'idprod': 'thisid'}) }}';
                url = url.replace("thisid",this.id);
                window.location.replace(url);
            })

            $(document).on("click", "#jouterform", function(){
                console.log('asd');
                $('#myModal').modal('toggle');
                $("#myForm").submit();
            });

            $("#submit").click(function(){


                if ( $('#nomp').val().length == ""  ||$('#desc').val().length == ""  || $('#prix').val().length == "" || $('#qs').val().length == ""  || document.getElementsByName("Idcategorieparent")[0].selectedIndex==0 )  {

                    // si la chaîne de caractères est inférieure à 5
                    swal({
                        title: "Champs vide ! ",
                        text: "Veuiller remplir tout les champs s'il vous plait",
                        icon:"error",
                        button :  "ok",
                    });

                    $('#nomp').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });

                    $('#prix').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });
                    $('#qs').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });
                    $('#Idcategorieparent').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });
                    $('#Idcategorie').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    });

                } else {
                    swal({
                        title: " Remplissage complet ",
                        text: " Remplissage des champs avec succes",
                        icon:"success",
                        button :  "ok",
                    });



                    $('#nomp').css({ // on rend le champ rouge
                        borderColor: 'green',
                        color: 'green'

                    });

                    $('#prix').css({ // si tout est bon, on le rend vert
                        borderColor: 'green',
                        color: 'green'
                    });

                    $('#qs').css({ // si tout est bon, on le rend vert
                        borderColor: 'green',
                        color: 'green'
                    });
                    $('#Idcategorieparent').css({ // on rend le champ rouge
                        borderColor: 'green',
                        color: 'green'

                    });

                    $('#Idcategorie').css({ // on rend le champ rouge
                        borderColor: 'green',
                        color: 'green'

                    });

                        var nom = $("#nomp").val();
                        $.ajax({
                            url:        '{{ path('verif_ajout') }}',
                            type:       'POST',
                            data:       {nomp: nom},
                            dataType:   'json',
                            async:      true,

                            success: function(data, status) {
                                console.log(data);
                                var pathimg= "{{ asset('img/produit/') }}";
                                $("#listprod").empty();
                                $.each(data, function( index, value ) {
                                    var lp = "<li><div class='row'> <div class='col-4'> <img width='50' height='50' src="+pathimg+value['img']+">  </div> <div class='col-4'><label> "+value['nom']+"</label>  </div> <div class='col-4'> <button type='button' data-ref='{{ path('produit_update',{ 'idprod':1 }) }}' onclick='xx(event)' class='modifp btn btn-primary' id="+value['idp']  +" > Modifier </button>  </div> </div>   </li>";

                                    $("#listprod").append(lp);
                                });


                                $('#myModal').modal('toggle');


                            },
                            error : function(xhr, textStatus, errorThrown) {

                                $("#myForm").submit();
                            }
                        })



                }


// controle nom
                if($('#nomp').val().length == "" )

                {

                    $('#nomp').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    }); }
                else {
                    if($('#nomp').val().length >10 || $('#nomp').val().length <3 )

                    {
                        swal({
                            title: " Format non respecte",
                            text: " Veuillez saisir un nom avec au moins 3 caracteres et au plus 10 caractres",
                            icon:"warning",
                            button :  "ok",
                        });
                        $('#nomp').css({ // on rend le champ rouge
                            borderColor: 'orange',
                            color: 'orange'

                        }); }

                    else
                    {
                        $('#nomp').css({ // si tout est bon, on le rend vert
                            borderColor: 'green',
                            color: 'green'
                        });

                    }

                  }




                // controle desc
                if($('#desc').val().length == "" )

                {

                    $('#desc').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    }); }
                else {


                    if($('#desc').val().length >12 || $('#desc').val().length <6 )

                    {

                        swal({
                            title: " Format non respecte",
                            text: " Veuillez saisir une description  avec au moins 6 caracteres et au plus 12 caractres",
                            icon:"warning",
                            button :  "ok",
                        });
                        $('#desc').css({ // on rend le champ rouge
                            borderColor: 'orange',
                            color: 'orange'

                        }); }
                    else
                    {

                        $('#desc').css({ // si tout est bon, on le rend vert
                            borderColor: 'green',
                            color: 'green'
                        });
                    }

                  }


                // controle prix
                if($('#prix').val().length == "" )

                {

                    $('#prix').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'

                    }); }
                else {

                    if($('#prix').val()> 300 || $('#prix').val() <0)

                    {

                        swal({
                            title: " Format non respecte",
                            text: " Veuillez saisir un prix positif inferieur a 300dt",
                            icon:"warning",
                            button :  "ok",
                        });
                        $('#prix').css({ // on rend le champ rouge
                            borderColor: 'orange',
                            color: 'orange'

                        }); }

                    else {
                        $('#prix').css({ // si tout est bon, on le rend vert
                            borderColor: 'green',
                            color: 'green'
                        });
                    }
                   }


                // controle quantite stock
                if($('#qs').val().length == "" )
                {

                    $('#qs').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'
                    });
                }
                else {

                    if($('#qs').val()> 50 || $('#qs').val() <0)

                    {

                        swal({
                            title: " Format non respecte",
                            text: " Veuillez saisir une quantite positif inferieur a 50",
                            icon:"warning",
                            button :  "ok",
                        });
                        $('#qs').css({ // on rend le champ rouge
                            borderColor: 'orange',
                            color: 'orange'

                        }); }

                    else {

                        $('#qs').css({ // si tout est bon, on le rend vert
                            borderColor: 'green',
                            color: 'green'
                        });
                    }
                  }

                if(document.getElementsByName("Idcategorieparent")[0].selectedIndex==0 )
                {

                    $('#Idcategorieparent').css({ // on rend le champ rouge
                    borderColor: 'red',
                    color: 'red'
                });
                    $('#Idcategorie').css({ // on rend le champ rouge
                        borderColor: 'red',
                        color: 'red'
                    });
                }
                else {
                    $('#Idcategorieparent').css({ // si tout est bon, on le rend vert
                        borderColor: 'green',
                        color: 'green'
                    });
                    $('#Idcategorie').css({ // si tout est bon, on le rend vert
                        borderColor: 'green',
                        color: 'green'
                    });
                }

            });






        })

        function xx (event){
            console.log(event.target.id);
            href = event.target.dataset.ref;
            var url = href.replace("1",""+event.target.id+"");
            url = url.replace("thisid",this.id);
            window.location.replace(url);

        }


    </script>

{% endblock %}

