{% extends 'basegreen.html.twig' %}

{% block content %}
<div class="container">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}" />
    <title>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</title>
</head>

<body>

<h1>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h1>

<ul>
    <li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
    <li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
    <li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
</ul>

{% block fos_message_content %}
{% endblock %}

</body>
</html>
</div>
{% endblock %}
