{% trans_default_domain 'FOSUserBundle' %}
<br>
<div class="row">
    <div class="col-md-4" >
    </div>
    <div class="col-md-4" style="" >


{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>
    <div class="col-md-4" >
    </div>
</div>
<br>