{% trans_default_domain 'FOSUserBundle' %}
<div id="account-details" class="tab-pane fade">
    <h3>Account details </h3>
    <div class="login">
        <div class="login-form-container">
            <div class="account-login-form">
                <form action="#">

                    <label>{{ 'profile.show.username'|trans }}</label>
                    <input name="user-name" type="text" value="{{ user.username }}">

                    <label>{{ 'profile.show.email'|trans }}</label>
                    <input name="email-name" type="text" value="{{ user.email }}">



                    <label>Password</label>
                    <input name="user-password" type="password">
                    <label>Birthdate</label>


                    <div class="button-box">
                        <button type="submit" class="default-btn">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

