{% extends "basegreen.html.twig" %}



{% block content %}

    <table id="example" class="display table table-hover" style="width:100%">
        <thead>
        <tr>
            <th>Abonnee</th>
            <th>Service abonnee</th>
            <th>Date Debut</th>
            <th>Date Fin</th>
            <th>nb jour restands</th>


        </tr>
        </thead>

    </table>
    <script src="{{ asset('green/js/jquery.dataTables.min.js') }}"></script>

    <script>
        $(document).ready(function() {
            var typeopt=0 ;
            var tab = $('#example').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "{{ path('admin_abonne_chercher') }}",
                    data: function ( d ) {
                            d.opt = typeopt
                        },
                    method: "post"
                },

                "AjaxDataProp": "data",
                "pageLength": 10,
                "columns": [
                    { "data": "user.nom"+"user.prenom" },
                    { "data": "services.nom" },
                    { "data": "dateDebut" },
                    { "data": "dateFin" },
                    { "data": "dateFin" - "DateDebut" },


                ],
                "dom": '<"row" <"col-2" <"toolbar" > > <"col-8" f >>rtip'
            } );
            $("div.toolbar").html('<select id="type" class="c-select form-control boxed" name="opt"><option value="0">Tout</option><option value="1">un Mois</option> <option value="2">3 Mois</option> <option value="3">6 Mois</option> <option value="4">Annee</option></select>');
            $("#type").change(function () {
                typeopt=$(this).children("option:selected").val()
                console.log(typeopt);
                $('#example').DataTable().ajax.reload( false);
            })
        } );
    </script>

{% endblock %}