{% extends 'baseservice.html.twig' %}

{% block content %}

    <section class="brows-job-category">
        <div class="container">
            <!-- Company Searrch Filter Start -->
            <div class="row extra-mrg">
                <div class="wrap-search-filter">
                    <form>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" class="form-control" placeholder="Keyword: Name, Tag">
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <input type="text" class="form-control" placeholder="Location: City, State, Zip">
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <select class="form-control select2-hidden-accessible" id="j-category" data-select2-id="j-category" tabindex="-1" aria-hidden="true">
                                <option value="" data-select2-id="2">&nbsp;</option>
                                <option value="1" data-select2-id="5">Information Technology</option>
                                <option value="2" data-select2-id="6">Mechanical</option>
                                <option value="3" data-select2-id="7">Hardware</option>
                                <option value="4" data-select2-id="8">Hospitality &amp; Tourism</option>
                                <option value="5" data-select2-id="9">Education &amp; Training</option>
                                <option value="6" data-select2-id="10">Government &amp; Public</option>
                                <option value="7" data-select2-id="11">Architecture</option>
                            </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="1" style="width: 280px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-j-category-container"><span class="select2-selection__rendered" id="select2-j-category-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Choose Category...</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>

                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button type="submit" class="btn btn-success full-width">Filter</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Company Searrch Filter End -->

            <!--Browse Job In Grid-->
            <div class="row extra-mrg">
                {% for j in jar %}
                <div class="col-md-4 col-sm-6">
                    <div class="grid-view brows-job-list">
                        <div class="brows-job-company-img">
                            <img src="assets/img/com-1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="brows-job-position">
                            <h3><a href="job-detail.html">{{ j.nom }} {{ j.prenom }}</a></h3>
                            <p><span>Google</span></p>
                        </div>
                        <div class="job-position">
                            <span class="job-num">5 Position</span>
                        </div>
                        <div class="brows-job-type">
                            <span class="full-time">Full Time</span>
                        </div>
                        <ul class="grid-view-caption">
                            <li>
                                <div class="brows-job-location">
                                    <p><i class="fa fa-map-marker"></i>Tunis, menzah1</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                            </li>
                        </ul>
                        <span class="tg-themetag tg-featuretag">Premium</span>
                    </div>
                </div>
                {% endfor %}


            </div>
            <!--/.Browse Job In Grid-->

            <div class="row">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>

        </div>
    </section>

{% endblock %}