{% extends 'baseservice.html.twig' %}

{% block content %}

    <section class="accordion">
        <div class="container">
            <div class="row">
                <form action="#" class="billing-form" id="inscriform" method="post" enctype="multipart/form-data">
                    <div class="col-md-6 col-sm-6">
                        <div class="sidebar-wrapper">
                            <div class="sidebar-box-header bb-1">
                                <h4>Profil generals</h4>
                            </div>
                                <div class="row">
                                    <div class="col-xs-3"></div>
                                    <div class="col-xs-4">
                                        <canvas class="img-responsive" id="canvas" width="250" height="250"></canvas>

                                    </div>
                                    <div class="col-xs-3">
                                        <input id="filechose" type="file" class="form-control" style="display:none">
                                        <button class="form-control" id="imageprofil" type="button"> Choisir une image</button>
                                        <button class="form-control" id="webcam" data-toggle="modal" data-target="#myModal" type="button"> prendre une photo</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Nom</label>
                                        <input name="nom" type="text" class="form-control" value="{{ user.nom }}" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Prenom</label>
                                        <input name="prenom" type="text" class="form-control" value="{{ user.prenom }}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>Mobile</label>
                                        <input name="telephone" type="number" class="form-control" value="{{ user.telephone }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label>Gouvernaurat</label>
                                        <select name="gouvernaurat"  class="form-control input-lg">
                                            <option value="Tunis">Tunis</option>
                                            <option value="Sousse">Sousse</option>
                                            <option value="asdasd">Sousse</option>
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Citee</label>
                                        <input name="citee" type="text" class="form-control" value="{{ user.adress.citee }}"/>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Code Postale</label>
                                        <input name="codeposte" type="number" class="form-control" value="{{ user.adress.codePoste }}"/>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <label>Ruee</label>
                                        <input name="rue" type="text" class="form-control" value="{{ user.adress.rue }}">
                                    </div>
                                    <div class="col-xs-2">
                                        <label>num</label>
                                        <input name="num" type="number" class="form-control" value="{{ user.adress.numero }}">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <!-- Billing Address -->
                    <div class="col-md-6 col-sm-6">
                    <div class="sidebar-wrapper">

                        <div class="sidebar-box-header bb-1">
                            <h4>Profil Jardinier</h4>
                        </div>


                            <div class="row">
                                <div class="col-xs-12">
                                    <label>Jour de traivail</label>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <span class="custom-checkbox">
                                                <input name="jtravail[]" type="checkbox" id="1" value="Lun">
                                                <label for="1"></label>
										    </span> Lundi</a>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="custom-checkbox">
                                                <input name="jtravail[]" type="checkbox" id="2" value="Mar">
                                                <label for="2"></label>
										    </span> Mardi</a>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="custom-checkbox">
                                                <input name="jtravail[]" type="checkbox" id="3" value="Mer">
                                                <label for="3"></label>
										    </span> Mercredi</a>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="custom-checkbox">
                                                <input name="jtravail[]" type="checkbox" id="4" value="Jeu">
                                                <label for="4"></label>
										    </span> Jeudi</a>
                                        </div>
                                        <div class="col-xs-2"> </div>
                                        <div class="col-xs-3">
                                            <span class="custom-checkbox">
                                                <input name="jtravail[]" type="checkbox" id="5" value="Ven">
                                                <label for="5"></label>
										    </span> Vendredie</a>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="custom-checkbox">
                                                <input name="jtravail[]" type="checkbox" id="6" value="Sam">
                                                <label for="6"></label>
										    </span> Samdi</a>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="custom-checkbox">
                                                <input name="jtravail[]" type="checkbox" id="7" value="Dim">
                                                <label for="7"></label>
										    </span> Dimanche</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="row">

                                <label>  Sepecialite</label>

                                <div style="overflow-y: scroll; height:150px;">
                                     <div class="col-xs-12" >
                                    {% for sp in specialite %}
                                        <div class="row">
                                            <div class="col-xs-8">
                                                    <span class="custom-checkbox">
                                                        <input class="spck" name="" type="checkbox" id="s{{ sp.id }}" value="{{ sp.id }}">
                                                        <label for="s{{ sp.id }}">{{ sp.nom }}</label>
                                                    </span> </a>
                                            </div>
                                            <div class="col-xs-4">
                                                 <input class="form-control hidden" type="number" name="spec[{{ sp.id }}]" placeholder="tarif par heur" id="is{{ sp.id }}">
                                            </div>
                                        </div>
                                    {% endfor %}

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <label>Description</label>
                                    <textarea name="desc" class="form-control" placeholder="votre descriotion" rows="5"></textarea>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-12">
										<span class="custom-checkbox">
											<input type="checkbox" id="l1">
											<label for="l1"></label>
										</span> I give my consent to Job Stock to collect my data with GDPR regulation.</a>
                                </div>
                            </div>
                            <div class="row mrg-top-30">
                                <div class="col-md-12 text-center">
                                    <a  class="btn btn-success" id="inscritbtn">SignUp</a>
                                    <a href="#" class="btn btn-default">Cancel</a>
                                </div>
                            </div>


                    </div>
                </div>
                </form>
                <!-- Payment Detail -->


            </div>

        </div>
    </section>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button id="closewebcam"  type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <!-- Stream video via webcam -->
                    <div class="video-wrap">
                        <video id="video" playsinline autoplay></video>
                    </div>

                    <!-- Trigger canvas web API -->
                    <div class="controller">
                        <button id="snap">Capture</button>
                    </div>

                    <!-- Webcam video snapshot -->


                </div>
                <div class="modal-footer">
                    <button id="closewebcam2" type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                </div>
            </div>

        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            function loadCanvasWithInputFile(){
                var input, canvas, context, output;
                input = document.getElementById("filechose");
                canvas = document.getElementById("canvas");
                context = canvas.getContext('2d');
                //output = document.getElementById("output");
                input.addEventListener("change", function() {
                    var reader = new FileReader();
                    reader.addEventListener("loadend", function(arg) {
                        var src_image = new Image();
                        src_image.onload = function() {
                            canvas.height = src_image.height;
                            canvas.width = src_image.width;
                            context.drawImage(src_image, 0, 0);
                            var imageData = canvas.toDataURL("image/png");
                            //output.src = imageData;
                            //uploadCanvas(imageData);
                        }
                        src_image.src = this.result;
                    });
                    reader.readAsDataURL(this.files[0]);
                });
            }

            loadCanvasWithInputFile();
            $("#imageprofil").click(function () {

                $("#filechose").click()

            })
            loadCanvasWithInputFile();


                const video = document.getElementById('video');
                const canvas = document.getElementById('canvas');
                const snap = document.getElementById("snap");
                const errorMsgElement = document.querySelector('span#errorMsg');

                const constraints = {
                    audio: false,
                    video: {
                        width: 250, height: 250
                    }
                };

                // Access webcam
                async function init() {
                    try {
                        const stream = await navigator.mediaDevices.getUserMedia(constraints);
                        handleSuccess(stream);
                    } catch (e) {
                        errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
                    }
                }

                // Success
                function handleSuccess(stream) {
                    window.stream = stream;
                    video.srcObject = stream;
                }

                // Load init


                // Draw image
                var context = canvas.getContext('2d');
                snap.addEventListener("click", function() {
                    canvas.width=250;canvas.height=250;

                    context.clearRect(0, 0, canvas.width, canvas.height);
                    context.drawImage(video, 0, 0, 250, 250 ,);

                    closewebcam();

                });

            $("#webcam").click(function () {
                'use strict';
                init();
            })


            $("#closewebcam").click(function() {
                var track = stream.getTracks()[0];  // if only one media track
// ...
                track.stop();
            })
            $("#closewebcam2").click(function() {
                var track = stream.getTracks()[0];  // if only one media track
// ...
                track.stop();
            })
            function closewebcam() {
                var track = stream.getTracks()[0];  // if only one media track
// ...
                track.stop();
                $("#myModal").modal('hide');
            }



        });

        function uploadCanvas(dataURL) {
            var blobBin = atob(dataURL.split(',')[1]);
            var array = [];
            for(var i = 0; i < blobBin.length; i++) {
                array.push(blobBin.charCodeAt(i));
            }
            var file=new Blob([new Uint8Array(array)], {type: 'image/png'});
            var formdata = new FormData();
            console.log(file);
            formdata.append("upload", file);

            $.ajax({
                url: "{{ path('upload_img') }}",
                type: "post",
                data: formdata,
                processData: false, // important
                contentType: false  // important

            }).complete(function(response){
                console.log(response);
                return response.responseText;

            });
        }

        $("#inscritbtn").click(function () {
            const canvas = document.getElementById('canvas');
            result =uploadCanvas(canvas.toDataURL("image/png"))
            $("#inscriform").submit();


        })

        $(".spck").on("click",function () {
            if (this.checked)

                $("#i"+this.id).removeClass("hidden")
            else
                $("#i"+this.id+"").addeClass("hidden")

        })



    </script>

{% endblock %}