{% extends 'base.html.twig' %}

{% block content %}
    <style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.center {

    padding-left: 300px;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.button3 {
    background-color: white;
    color: black;
    border: 2px solid lightcoral;
}

.button3:hover {
    background-color: lightcoral;
    color: white;
}

    </style>
    <div class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-title">
                        <h1>{{ sujet.titresujet }}</h1>
                    </div>
                    <div class="breadcrumb-content breadcrumb-content-tow">
                        <ul>
                            <li><a href="index.html" style="font-size:20px">Home</a></li>
                            <li class="active" style="font-size:15px">{{ sujet.user.username }}'s Blog</li>
                            <li><a href="{{ path('add_sujet') }}" style="font-size:20px">Ajouter Sujet</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area white-bg pt-0 pb-0 mb-50">
        <div class="container" >
            <div class="row">
                <!--Blog Post Start-->



                <div class="col-lg-9" style="margin-left:130px " >
                    <div class="blog_area">
                        <article class="blog_single blog-details">

                            <header class="entry-header">
                                    <span class="post-category">
                                        <a href="#"> {{ sujet.categorie }}</a>
                                    </span>
                                <h2 class="entry-title">
                                    {{ sujet.titresujet }}
                                </h2>
                                <span class="post-author">
                                    <span class="post-by"> Poster par : </span> {{ sujet.user.username }} </span>
                                <span class="post-separator">|</span>
                                <span class="blog-post-date"><i class="fas fa-calendar-alt">Le {{ sujet.datesujet|date("m/d/Y") }}</i></span>
                                <p>

                                </p>
                            </header>


                            <div class="post-thumbnail img-full" >
                                <table><td>

                                        {% set Nbvote = 0 %}

                                        {% for vote in votes %}
                                            {% if vote.idsujet==sujet.idsujetrc %}
                                                {% if vote.updown==1 %}
                                                    {% set Nbvote = Nbvote+1 %}
                                                {% else  %}
                                                    {% set Nbvote = Nbvote-1 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}


                                        {% set id = 0%}

                                        {% set testup = true %}


                                        {% for vote in votes %}
                                            {% if vote.iduser==user and sujet.idsujetrc==vote.idsujet and vote.updown==1  %}
                                                {% set testup = false %}
                                                {% set id = vote.id %}

                                            {% endif %}

                                        {% endfor %}

                                        {% set testdown = true %}

                                        {% for vote in votes %}
                                            {% if vote.iduser==user and sujet.idsujetrc==vote.idsujet and vote.updown==0  %}
                                                {% set testdown = false %}
                                                {% set id = vote.id %}

                                            {% endif %}
                                        {% endfor %}


                                        {% if testup==false %}
                                        <a href="{{ path('deletevote',{id:id,idsujet:sujet.idsujetrc}) }}" > <i style="font-size: 55px;color: lightgreen" class="fa fa-chevron-up  "></i> </a>{{ Nbvote }}

                                            <a   href="{{ path('pushdown',{id:sujet.idsujetrc}) }}"> <i style="font-size: 55px" class="fa fa-chevron-down  "></i></a>

                                        {% elseif testdown==false %}

                                        <a href="{{ path('pushup',{id:sujet.idsujetrc}) }}"> <i style="font-size: 55px" class="fa fa-chevron-up  "></i> </a>{{ Nbvote }}
                                            <a  href="{{ path('deletevote',{id:id,idsujet:sujet.idsujetrc}) }}"> <i style="font-size: 55px;color: lightgreen" class="fa fa-chevron-down  "></i></a>

                                        {% elseif testup==true and  testdown == true   %}

                                            <a href="{{ path('pushup',{id:sujet.idsujetrc}) }}"> <i style="font-size: 55px" class="fa fa-chevron-up  "></i> </a>
                                            {{ Nbvote }}
                                            <a href="{{ path('pushdown',{id:sujet.idsujetrc}) }}"> <i style="font-size: 55px" class="fa fa-chevron-down  "></i> </a>

                                        {% endif  %}
                                 </td>
                                <td>
                                <img src="http:\\localhost\image\{{ sujet.image }}" alt="">
                                </td>
                                </table>
                            </div>



                            {% if sujet.resolue == 1 %}
                            <div class="alert alert-success" role="alert">
                               Ce sujet est  Resolu
                            </div>
                            {% else %}
                            {% if sujet.user.id==user %}

                                <a href="{{ path('resolue',{id:sujet.idsujetrc}) }}"><button class="btn button button1">Résolu?</button> </a>
                                {% endif %}
                            {% endif %}
                            <div class="postinfo-wrapper">
                                <div class="post-info">
                                    <div class="entry-summary blog-post-description">
                                        <blockquote><p>{{ sujet.contenu }}</p></blockquote>
                                        <!--Blog Post Tag-->
                                        <!--Blog Post Tag-->
                                        {% if sujet.user.id==user %}
                                        <a href="{{ path ('updatesujet',{id:sujet.idsujetrc}) }}"  class="form-button" title="Modifier"><i style="font-size: 15px;color: white;"class="fa fa-file-text"></i></a>
                                        <a href="{{ path ('deletesujet',{id:sujet.idsujetrc}) }}"  class="form-button" title="Supprimer"><i style="font-size: 15px;color: white;"class="fa fa-minus-circle"></i></a>
                                    {% endif %}

                                        <div class="social-sharing">
                                            <div class="widget widget_socialsharing_widget">
                                                <h3 class="widget-title">Share this post</h3>
                                                <ul class="blog-social-icons">
                                                    <li>
                                             {{ facebookButton()}}
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--Comment Area Start-->
                    <div class="comments-area mt-80">
                        <h3>{{ comments|length }} comments</h3>

                        <ol class="commentlist">
                            {% for comment in comments %}

                            <li>
                                <div class="single-comment">
                                    <div class="comment-avatar img-full">
                                        <img style="width:55px;height:55px;" src="http:\\localhost\image\{{ comment.user.image }}" alt="">
                                    </div>
                                    <div class="comment-info" style="padding-top:5px;padding-bottom: 5px">
                                        <a href="#" >{{ comment.user.username }}</a>
                                        {% set lik = 0 %}
                                        {% for like in likes %}
                                            {% if like.idreponse==comment.idreponserc%}
                                                {% set lik = lik+1 %}
                                            {% endif %}
                                        {% endfor %}

                                        {% set test = false %}
                                        {% for like in likes %}
                                            {% if like.iduser==user and like.idreponse==comment.idreponserc  %}
                                                {% set test = true %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if test!=true %}

                                            <div class="reply" >
                                                <a href="{{ path('like',{'idrep':comment.idreponserc,'id':sujet.idsujetrc})}}" class="fa fa-heart  ">{{ lik }}</a>
                                                    {% if comment.user.id==user  %}
                                                    <a href="{{ path('updaterep',{'id':comment.idreponserc}) }}" title="edit"><i style="font-size: 15px;color: lightgreen;"class="fa fa-file-text"></i></a>
                                                        <a href="{{ path('deleterep',{'id':comment.idreponserc,'idsujet':sujet.idsujetrc}) }}" title="Supprimer"><i style="font-size: 15px;color: lightgreen;"class="fa fa-minus-circle"></i></a>

                                                    {% endif %}


                                            </div>
                        {% else %}
                            <div class="reply">
                                <a href="{{ path('dislike',{'idrep':comment.idreponserc,'id':sujet.idsujetrc}) }}" title="Dislike"> <i style="font-size: 10px;color: lightgreen" class="fa fa-heart  "></i>
                                                  {{ lik }}
                                             </a>
                            {% if comment.user.id==user  %}

                                <a href="{{ path('updaterep',{'id':comment.idreponserc}) }}" title="Modifier"><i style="font-size: 15px;color: lightgreen;"class="fa fa-file-text"></i></a>

                                <a href="{{ path('deleterep',{'id':comment.idreponserc,'idsujet':sujet.idsujetrc}) }}" title="Supprimer"><i style="font-size: 15px;color: lightgreen;"class="fa fa-minus-circle"></i></a>
                            {% endif %}
                            </div>

                                    {% endif %}


                                        </div>

                                        <p >{{ comment.contenu }}</p>
                                    <span style="padding-left:700px;font-style: italic;font-size: 12px" >{{ comment.dateresponse|date("m/d/Y")  }}</span>

                                </div>

                            </li>
                            {% endfor %}

                        </ol>



                    </div>
                    <div class="comment-box mt-30 mb-40">
                        <h3 style="padding-left: 10px">laissez un commentaire</h3>
                        <form id="form" action="{{ path('add_reposne',{id:sujet.idsujetrc}) }}" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="single-input">
                                        <label style="padding-left: 10px">Reponses</label>

                                        <span style="color: red;" id="grostitre2">Veuillez saisir vos information d'une manniere plus approprié ! LANGUAGE INNAPROPRIE</span>

                                        <textarea required form="form" name="comment" placeholder="Veuillez saisir votre reponse" id="comment" cols="10" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-input">
                                        <button id="submit" class="form-button" type="submit">Poster votre reponse </button>
                                    </div>
                                    {% if testsapm==true %}

                                        <div class="btn button button3" >
                                            <a href="{{ path('spam',{id:sujet.idsujetrc}) }}" style="font-size: 18px" class="fa fa-warning">Signaler</a>

                                        </div>
                                    {% else %}
                                        <div class="">
                                            <div  class="alert alert-danger" role="alert">
                                                Ce sujet a été signalé
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </form>
                    </div>
                    <!--Comment Area End-->
                </div>

                <!--Blog Post End-->
                <!--Blog Sidebar Start-->
                <!--Blog Sidebar End-->
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script  type="text/javascript">
        $("#grostitre2").hide();



        console.log("ok");
        $("document").ready(function () {

            $("#comment").keypress(function () {
                if($(this).val().indexOf("fuck")!=-1  ){

                    $("#grostitre2").show();
                    $("#submit").prop( "disabled", true );
                }
                else
                {
                    $("#grostitre2").hide()
                    $("#submit").prop( "disabled", false );


                }


            })




        });


    </script>

{% endblock %}