{% extends 'base.html.twig' %}

{% block content %}
    <div class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-title">
                        <h1>Nos Sujets </h1>
                    </div>
                    <div class="breadcrumb-content breadcrumb-content-tow">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Blog</li>
                            <li><a href="{{ path('add_sujet') }}" style="font-size:20px">Ajouter Sujet</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="blog_sidebar">
            <div class="row_products_side">
                <div class="product_left_sidbar">
                    <div class="product-filter  mb-35">

                        <h5>Search </h5>
                        <div class="search__sidbar">
                            <div class="input_form" >
                                <input id="search_input" name="s"   class="input_text" type="text">
                                <button id="blogsearchsubmit" type="submit" class="button">
                                    <i class="fa fa-search"></i>
                                </button>
                                <div style="margin-left: 283.5px">
                                <select id="categorie" name="categorie" form="form">
                                    <option value="all">All</option>

                                    <option value="Plante">Plante</option>
                                    <option value="Outil">Outils</option>
                                    <option value="Animaux">Animaux</option>
                                    <option value="Arbuste">Arbuste</option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="blog-area white-bg pt-0 pb-0 mb-70">
        <div class="container">
            <div class="row">
                <!--Blog Post Start-->
                <div class="col-lg-9" style="margin-left:50px">
                    <div class="blog_area">
                        <div id="sujets">


                        {% for sujet in sujets %}

                        <article class="blog_single">
                            <header class="entry-header">
                                    <span class="post-category">
                                        <a href="#"> {{ sujet.categorie}}</a>
                                    </span>
                                <h2 class="entry-title">
                                    <a href="single-blog.html">{{ sujet.titresujet }}</a>
                                </h2>
                                <span class="post-author">
                                    <span class="post-by"> Poster par : </span> {{ sujet.user.username }} </span>
                                <span class="post-separator">|</span>
                                <span class="blog-post-date"> <i class="fas fa-calendar-alt"> Le {{ sujet.datesujet|date("m/d/Y") }} </i>  </span>
                            </header>

                            <div class="post-thumbnail img-full">

                                {% if sujet.image is defined and sujet.image is not null %}
                                <a >
                                    <img src="http:\\localhost\image\{{ sujet.image }}" >
                                </a>
                                {% else %}
                                    <a>
                                        <img alt="Pas d'image ">
                                    </a>
                                {% endif %}

                            </div>

                            <div class="postinfo-wrapper">
                                <div class="post-info">
                                    <div class="entry-summary">
                                        <p>{{ sujet.contenu }}</p>
                                        <a href="{{ path ( 'sujetByid',{'id':sujet.idsujetrc}) }}" class="form-button">Detail</a>
                                        {% if sujet.user.id==user %}
                                            <a href="{{ path ('updatesujet',{id:sujet.idsujetrc}) }}"  class="form-button" title="Modifier"><i style="font-size: 15px;color: white;"class="fa fa-file-text"></i></a>
                                            <a href="{{ path ('deletesujet',{id:sujet.idsujetrc}) }}"  class="form-button" title="Supprimer"><i style="font-size: 15px;color: white;"class="fa fa-minus-circle"></i></a>
                                        {% endif %}

                                        <div class="social-sharing">
                                            <div class="widget widget_socialsharing_widget">
                                                <h3 class="widget-title">Share this post</h3>
                                                <ul class="blog-social-icons">
                                                    <li>
                                                        <a target="_blank" title="Facebook" href="#" class="facebook social-icon">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" title="twitter" href="#" class="twitter social-icon">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" title="pinterest" href="#" class="pinterest social-icon">
                                                            <i class="fa fa-pinterest"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" title="linkedin" href="#" class="linkedin social-icon">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% set i = 0  %}
                            {% for rep in reponse  %}
                                 {% if sujet.idsujetrc==rep.idSujet %}
                                {%  set i = i+1 %}
                                {% endif %}
                            {% endfor %}
                            <!--start comment in post page -->
                            <a class="comment" href="#">{{ i }} comments</a>
                            <!--start comment in post page -->
                        </article>
                        </article>



                        {% endfor %}




                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!--Pagination Start-->
                            <div class="product-pagination blog-pagenation">
                                <ul>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                            <!--Pagination End-->
                        </div>
                    </div>
                </div>
                <!--Blog Post End-->
                <!--Blog Sidebar Start-->

                <!--Blog Sidebar End-->
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script  type="text/javascript">
        console.log("ok");
            $("document").ready(function () {
                console.log("ok");
                $("#categorie").change(function () {
                    console.log($(this).val());

                    $.ajax({

                        url: '{{ path('search') }}',
                        data: {
                            categorie: $(this).val(),
                            search: $("#search_input").val()

                        },
                        type: 'get',
                        success: function (result, status) {
                            $("#sujets").html(result)
                        }
                    })
                });
                $("#search_input").keypress(function () {
                    console.log($(this).val());

                    $.ajax({
                        url: '{{ path('search') }}',
                        data: {
                            search: $(this).val(),
                            categorie: $('categorie').val()
                        },
                        type: 'get',
                        success: function (result, status) {
                            $("#sujets").html(result)
                        }
                    })
                });

            })
    </script>

{% endblock %}
