<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Single Blog || Plantmore</title>
    <meta name="description" content="">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, follow" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!--All Css Here-->

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- Linearicon CSS-->
    <link rel="stylesheet" href="{{ asset('css/linearicons.min.css') }}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <!-- Animate CSS-->
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <!-- Owl Carousel CSS-->
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <!-- Slick CSS-->
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
    <!-- Meanmenu CSS-->
    <link rel="stylesheet" href="{{ asset('css/meanmenu.min.css') }}">
    <!-- Easyzoom CSS-->
    <link rel="stylesheet" href="{{ asset('css/easyzoom.css') }}">
    <!-- Venobox CSS-->
    <link rel="stylesheet" href="{{ asset('css/venobox.css') }}">
    <!-- Jquery Ui CSS-->
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <!-- Nice Select CSS-->
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <!-- Modernizr Js -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="wrapper">
    <!--Header Area Start-->
    <header>
        <div class="header-container">
            <div class="header-area header-sticky pt-30 pb-30">
                <div class="container">
                    <div class="row">
                        <!--Header Logo Start-->
                        <div class="col-lg-3 col-md-3">
                            <div class="logo-area">
                                <a href="index.html">
                                    <img src="img/logo/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!--Header Logo End-->
                        <!--Header Menu And Mini Cart Start-->
                        <div class="col-lg-9 col-md-9 text-lg-right">
                            <!--Main Menu Area Start-->
                            <div class="header-menu">
                                <nav>
                                    <ul class="main-menu">
                                        <li><a href="index.html">home</a>
                                            <!--Dropdown Menu Start-->
                                            <ul class="dropdown">
                                                <li><a href="index.html">Home Page One</a></li>
                                                <li><a href="index-2.html">Home Page Two</a></li>
                                                <li><a href="index-3.html">Home Page Three</a></li>
                                                <li><a href="index-4.html">Home Page Four</a></li>
                                                <li><a href="index-5.html">Home Page Five</a></li>
                                            </ul>
                                            <!--Dropdown Menu End-->
                                        </li>
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog.html">Pages</a>
                                            <!--Dropdown Menu Start-->
                                            <ul class="dropdown">
                                                <li><a href="single-product.html">Single Product</a></li>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-list.html">Shop List View</a></li>
                                                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="my-account.html">My Account</a></li>
                                                <li><a href="login-register.html">Log In</a></li>
                                            </ul>
                                            <!--Dropdown Menu End-->
                                        </li>
                                        <li><a href="#">Features</a>
                                            <!--Mega Menu Start-->
                                            <ul class="mega-menu">
                                                <li><a href="#" class="item-link">Pages</a>
                                                    <ul>
                                                        <li><a href="about.html">About Us</a></li>
                                                        <li><a href="about-2.html">About Us 02</a></li>
                                                        <li><a href="contact.html">Contact Us</a></li>
                                                        <li><a href="contact-2.html">Contact Us 02</a></li>
                                                        <li><a href="service.html">Services</a></li>
                                                        <li><a href="service-2.html">Services 02</a></li>
                                                        <li><a href="faq.html">Frequently Questions</a></li>
                                                        <li><a href="404.html">Error 404</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#" class="item-link">Blog</a>
                                                    <ul>
                                                        <li><a href="blog-nosidebar.html">None Sidebar</a></li>
                                                        <li><a href="blog-left-sidebar.html">Sidebar Left</a></li>
                                                        <li><a href="single-blog.html">Gallery Format</a></li>
                                                        <li><a href="single-blog.html">Audio Format</a></li>
                                                        <li><a href="single-blog.html">Video Format</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#" class="item-link">Shop</a>
                                                    <ul>
                                                        <li><a href="shop-full-width.html">Full Width</a></li>
                                                        <li><a href="shop-right-sidebar.html">Sidebar Right</a></li>
                                                        <li><a href="shop-list.html">List View</a></li>
                                                        <li><a href="single-product.html">Single Product</a></li>
                                                        <li><a href="single-product.html">Variable Product</a></li>
                                                        <li><a href="single-product.html">Grouped Product</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <!--Mega Menu End-->
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!--Main Menu Area End-->
                            <!--Header Option Start-->
                            <div class="header-option">
                                <div class="mini-cart-search">
                                    <div class="mini-cart">
                                        <a href="#">
                                                <span class="cart-icon">
                                                   <span class="cart-quantity">2</span>
                                                </span>
                                            <span class="cart-title">Your cart <br><strong>$190.00</strong></span>
                                        </a>
                                        <!--Cart Dropdown Start-->
                                        <div class="cart-dropdown">
                                            <ul>
                                                <li class="single-cart-item">
                                                    <div class="cart-img">
                                                        <a href="single-product.html"><img src="img/cart/cart1.jpg" alt=""></a>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h5 class="product-name"><a href="single-product.html">Odio tortor consequat</a></h5>
                                                        <span class="cart-price">1 × $90.00</span>
                                                    </div>
                                                    <div class="cart-remove">
                                                        <a title="Remove" href="#"><i class="fa fa-times"></i></a>
                                                    </div>
                                                </li>
                                                <li class="single-cart-item">
                                                    <div class="cart-img">
                                                        <a href="single-product.html"><img src="img/cart/cart2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h5 class="product-name"><a href="single-product.html">Auctor sem</a></h5>
                                                        <span class="cart-price">1 × $100.00</span>
                                                    </div>
                                                    <div class="cart-remove">
                                                        <a title="Remove" href="#"><i class="fa fa-times"></i></a>
                                                    </div>
                                                </li>
                                            </ul>
                                            <p class="cart-subtotal"><strong>Subtotal:</strong> <span class="float-right">$190.00</span></p>
                                            <p class="cart-btn">
                                                <a href="cart.html">View cart</a>
                                                <a href="checkout.html">Checkout</a>
                                            </p>
                                        </div>
                                        <!--Cart Dropdown End-->
                                    </div>
                                    <div class="header-search">
                                        <div class="search-box">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                            <div class="search-dropdown">
                                                <form action="#">
                                                    <input name="search" id="search" placeholder="" value="Search product..." onblur="if(this.value==''){this.value='Search product...'}" onfocus="if(this.value=='Search product...'){this.value=''}" type="text">
                                                    <button type="submit"><i class="fa fa-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="currency">
                                        <div class="currency-box">
                                            <a href="#"><i class="fa fa-th"></i></a>
                                            <div class="currency-dropdown">
                                                <ul class="menu-top-menu">
                                                    <li><a href="my-account.html">My Account</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                    <li><a href="cart.html">Shopping cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="login-register.html">Log In</a></li>
                                                </ul>
                                                <div class="switcher">
                                                    <div class="language">
                                                        <span class="switcher-title">Language: </span>
                                                        <div class="switcher-menu">
                                                            <ul>
                                                                <li><a href="#">English</a>
                                                                    <ul class="switcher-dropdown">
                                                                        <li><a href="#">German</a></li>
                                                                        <li><a href="#">French</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="currency">
                                                        <span class="switcher-title">Currency: </span>
                                                        <div class="switcher-menu">
                                                            <ul>
                                                                <li><a href="#">$ USD</a>
                                                                    <ul class="switcher-dropdown">
                                                                        <li><a href="#">€ EUR</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Header Option End-->
                        </div>
                        <!--Header Menu And Mini Cart End-->
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!--Mobile Menu Area Start-->
                            <div class="mobile-menu d-lg-none"></div>
                            <!--Mobile Menu Area End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header Area End-->
    <!--Breadcrumb Tow Start-->
    <div class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-title">
                        <h1>Single Blog</h1>
                    </div>
                    <div class="breadcrumb-content breadcrumb-content-tow">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Single Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb Tow End-->
    <!--Blog Area Start-->
    <div class="blog-area white-bg pt-0 pb-0 mb-50">
        <div class="container">
            <div class="row">
                <!--Blog Post Start-->
                <div class="col-lg-9">
                    <div class="blog_area">
                        <article class="blog_single blog-details">
                            <header class="entry-header">
                                    <span class="post-category">
                                        <a href="#"> Fashion</a>,<a href="#">WordPress</a>
                                    </span>
                                <h2 class="entry-title">
                                    Blog image post
                                </h2>
                                <span class="post-author">
                                    <span class="post-by"> Posts by : </span> admin </span>
                                <span class="post-separator">|</span>
                                <span class="blog-post-date"><i class="fas fa-calendar-alt"></i>On March 10, 2018 </span>
                            </header>
                            <div class="post-thumbnail img-full">
                                <img src="img/blog/blog1.jpg" alt="">
                            </div>
                            <div class="postinfo-wrapper">
                                <div class="post-info">
                                    <div class="entry-summary blog-post-description">
                                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit. Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum eleifend. Pellentesque faucibus sem ante, non malesuada odio varius nec. Suspendisse potenti.</p>
                                        <blockquote><p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.</p></blockquote>
                                        <p>Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus id arcu facilisis elementum. Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu.</p>
                                        <p>Suspendisse turpis ipsum, tempus in nulla eu, posuere pharetra nibh. In dignissim vitae lorem non mollis. Praesent pretium tellus in tortor viverra condimentum. Nullam dignissim facilisis nisl, accumsan placerat justo ultricies vel. Vivamus finibus mi a neque pretium, ut convallis dui lacinia. Morbi a rutrum velit. Curabitur sagittis quam quis consectetur mattis. Aenean sit amet quam vel turpis interdum sagittis et eget neque. Nunc ante quam, luctus et neque a, interdum iaculis metus. Aliquam vel ante mattis, placerat orci id, vehicula quam. Suspendisse quis eros cursus, viverra urna sed, commodo mauris. Cras diam arcu, fringilla a sem condimentum, viverra facilisis nunc. Curabitur vitae orci id nulla maximus maximus. Nunc pulvinar sollicitudin molestie.</p>
                                        <!--Blog Post Tag-->
                                        <div class="single-post-tag">
                                            <a href="#">3 comments</a>
                                            Tags:
                                            <a href="#">fashion</a>,
                                            <a href="#">t-shirt</a>,
                                            <a href="#">white</a>,
                                        </div>
                                        <!--Blog Post Tag-->
                                        <div class="social-sharing">
                                            <div class="widget widget_socialsharing_widget">
                                                <h3 class="widget-title">Share this post</h3>
                                                <ul class="blog-social-icons">
                                                    <li>
                                                        <a target="_blank" title="Facebook" href="#" class="facebook social-icon">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" title="twitter" href="#" class="twitter social-icon">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" title="pinterest" href="#" class="pinterest social-icon">
                                                            <i class="fa fa-pinterest"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" title="linkedin" href="#" class="linkedin social-icon">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="relatedposts">
                            <h3>Related posts</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="relatedthumb">
                                        <div class="image img-full">
                                            <a href="#"><img src="img/blog/blog2.jpg" alt=""></a>
                                        </div>
                                        <h4><a href="#">Post with Gallery</a></h4>
                                        <span class="rl-post-date">December 1, 2018</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="relatedthumb">
                                        <div class="image img-full">
                                            <a href="#"><img src="img/blog/blog4.jpg" alt=""></a>
                                        </div>
                                        <h4><a href="#">Post with Gallery</a></h4>
                                        <span class="rl-post-date">December 1, 2018</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="relatedthumb">
                                        <div class="image img-full">
                                            <a href="#"><img src="img/blog/blog5.jpg" alt=""></a>
                                        </div>
                                        <h4><a href="#">Post with Gallery</a></h4>
                                        <span class="rl-post-date">December 1, 2018</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Comment Area Start-->
                    <div class="comments-area mt-80">
                        <h3>3 comments</h3>
                        <ol class="commentlist">
                            <li>
                                <div class="single-comment">
                                    <div class="comment-avatar img-full">
                                        <img src="img/icon/author.png" alt="">
                                    </div>
                                    <div class="comment-info">
                                        <a href="#">admin</a>
                                        <div class="reply">
                                            <a href="#">Reply</a>
                                        </div>
                                        <span class="date">October 6, 2014 at 1:38 am</span>
                                        <p>just a nice post</p>
                                    </div>
                                </div>
                                <ol>
                                    <li>
                                        <div class="single-comment">
                                            <div class="comment-avatar img-full">
                                                <img src="img/icon/admin.jpg" alt="">
                                            </div>
                                            <div class="comment-info">
                                                <a href="#">admin</a>
                                                <div class="reply">
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span class="date">October 6, 2014 at 1:38 am</span>
                                                <p>just a nice post</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                        <ol class="commentlist">
                            <li>
                                <div class="single-comment">
                                    <div class="comment-avatar img-full">
                                        <img src="img/icon/author.png" alt="">
                                    </div>
                                    <div class="comment-info">
                                        <a href="#">admin</a>
                                        <div class="reply">
                                            <a href="#">Reply</a>
                                        </div>
                                        <span class="date">October 6, 2014 at 1:38 am</span>
                                        <p>just a nice post</p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="comment-box mt-30 mb-40">
                        <h3>Leave a Comment</h3>
                        <form action="#">
                            <p class="comment-note"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="single-input">
                                        <label>Comment*</label>
                                        <textarea name="commenter-message" placeholder="Message" id="commenter-message" cols="30" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-input">
                                        <label>Name*</label>
                                        <input name="commenter-name" id="commenter-name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-input">
                                        <label>Email*</label>
                                        <input name="commenter-email" id="commenter-email" type="email">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-input">
                                        <label>Website*</label>
                                        <input name="commenter-url" id="commenter-url" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-input">
                                        <button class="form-button" type="submit">Post Comment</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--Comment Area End-->
                </div>
                <!--Blog Post End-->
                <!--Blog Sidebar Start-->
                <div class="col-lg-3">
                    <div class="blog_sidebar">
                        <div class="row_products_side">
                            <div class="product_left_sidbar">
                                <div class="product-filter  mb-35">
                                    <h5>Search </h5>
                                    <div class="search__sidbar">
                                        <div class="input_form">
                                            <input id="search_input" name="s" value="Search..." class="input_text" type="text">
                                            <button id="blogsearchsubmit" type="submit" class="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-filter  mb-35">
                                    <h5>Blog Archives </h5>
                                    <div class="blog_Archives__sidbar">
                                        <ul>
                                            <li>
                                                <a href="#">March 2015</a>&nbsp;(1)</li>
                                            <li>
                                                <a href="#">December 2014</a>&nbsp;(3)</li>
                                            <li>
                                                <a href="#">November 2014</a>&nbsp;(4)</li>
                                            <li>
                                                <a href="#">September 2014</a>&nbsp;(1)</li>
                                            <li>
                                                <a href="#">August 2014</a>&nbsp;(1)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-filter  mb-35">
                                    <h5>Recent Posts</h5>
                                    <div class="blog_Archives__sidbar">
                                        <ul>
                                            <li> <a href="#">Blog image post</a>&nbsp;(1)</li>
                                            <li> <a href="#">Post with Gallery</a>&nbsp;(3)</li>
                                            <li><a href="#">Post with Audio</a>&nbsp;(4)</li>
                                            <li><a href="#">Post with Video</a>&nbsp;(1)</li>
                                            <li><a href="#">Post with Text</a>&nbsp;(1)</li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="product-filter  mb-35">
                                    <div class="sidebar-banner single-banner">
                                        <div class="banner-img">
                                            <a href="#"><img src="img/banner/shop-sidebar.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-filter mb-35">
                                    <h5>tags</h5>
                                    <div class="product-tag blog-tag">
                                        <ul>
                                            <li><a href="#">brand</a></li>
                                            <li><a href="#">black</a></li>
                                            <li><a href="#">white</a></li>
                                            <li><a href="#">chire</a></li>
                                            <li><a href="#">table</a></li>
                                            <li><a href="#">Lorem</a></li>
                                            <li><a href="#">ipsum</a></li>
                                            <li><a href="#">dolor</a></li>
                                            <li><a href="#">sit</a></li>
                                            <li><a href="#">amet</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog Sidebar End-->
            </div>
        </div>
    </div>
    <!--Blog Area End-->
    <!--Brand Area Start-->
    <div class="brand-area mb-105">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-active">
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand1.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand2.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand3.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand4.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand5.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand3.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand4.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand5.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Brand Area End-->
    <!--Footer Area Start-->
    <footer>
        <div class="footer-container">
            <!--Footer Top Area Start-->
            <div class="footer-top-area black-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-40">
                                <div class="footer-title">
                                    <h3>My Account</h3>
                                </div>
                                <ul class="link-widget">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Team Member</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Specials</a></li>
                                    <li><a href="shop.html">Best sellers</a></li>
                                    <li><a href="#">Our stores</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                </ul>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-40">
                                <div class="footer-title">
                                    <h3>Information</h3>
                                </div>
                                <ul class="link-widget">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#">My orders</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Returns & Exchanges</a></li>
                                    <li><a href="#">Shipping & Delivery</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-40">
                                <div class="footer-title">
                                    <h3>Quick Links</h3>
                                </div>
                                <ul class="link-widget">
                                    <li><a href="#">Support Center</a></li>
                                    <li><a href="#">Term & Conditions</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Products Return</a></li>
                                    <li><a href="faq.html">FAQS</a></li>
                                </ul>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-40">
                                <div class="footer-title">
                                    <h3>Categories</h3>
                                </div>
                                <ul class="link-widget">
                                    <li><a href="#">Bedroom</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">Livingroom</a></li>
                                    <li><a href="#">Mobiles & Tablets</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Accessories</a></li>
                                </ul>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Top Area End-->
            <!--Footer Middle Area Start-->
            <div class="footer-middle-area black-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-30">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="img/logo/logo-footer.png" alt=""></a>
                                </div>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-30">
                                <div class="footer-info">
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <p>Address : No 40 Baria Sreet 15/2 NewYork City, NY, United States.</p>
                                </div>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-30">
                                <div class="footer-info">
                                    <div class="icon">
                                        <i class="fa fa-envelope-open-o"></i>
                                    </div>
                                    <p>Email: <br>info@yourmail.com</p>
                                </div>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!--Single Footer Widget Start-->
                            <div class="single-footer-widget mb-30">
                                <div class="footer-info">
                                    <div class="icon">
                                        <i class="fa fa-mobile"></i>
                                    </div>
                                    <p>Phone: <br>(+68) 123 456 7890</p>
                                </div>
                            </div>
                            <!--Single Footer Widget End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Middle Area End-->
            <!--Footer Bottom Area Start-->
            <div class="footer-bottom-area black-bg pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Footer Payment Start-->
                            <div class="footer-payments-image">
                                <img src="img/payment/payment-icon.png" alt="">
                            </div>
                            <!--Footer Payment End-->
                            <!--Footer Menu Start-->
                            <div class="footer-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="#">Site Map</a></li>
                                        <li><a href="#">Search Terms</a></li>
                                        <li><a href="#">Advanced Search</a></li>
                                        <li><a href="#">Orders and Returns</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--Footer Menu End-->
                            <!--Footer Copyright Start-->
                            <div class="footer-copyright">
                                <p>Copyright © <a href="#">Plantmore</a> All Rights Reserved</p>
                            </div>
                            <!--Footer Copyright End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Bottom Area End-->
        </div>
    </footer>
    <!--Footer Area End-->
    <!-- Modal Area Strat -->
    <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!--Modal Img-->
                        <div class="col-md-5">
                            <!--Modal Tab Content Start-->
                            <div class="tab-content product-details-large" id="myTabContent">
                                <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="img/single-product/large/single-product1.jpg" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="img/single-product/large/single-product2.jpg" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="img/single-product/large/single-product3.jpg" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="img/single-product/large/single-product4.jpg" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="img/single-product/large/single-product5.jpg" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="img/single-product/large/single-product6.jpg" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                            </div>
                            <!--Modal Content End-->
                            <!--Modal Tab Menu Start-->
                            <div class="single-product-menu">
                                <div class="nav single-slide-menu owl-carousel" role="tablist">
                                    <div class="single-tab-menu img-full">
                                        <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="img/single-product/small/single-product1.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="img/single-product/small/single-product2.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="img/single-product/small/single-product3.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="img/single-product/small/single-product4.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="img/single-product/small/single-product5.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="img/single-product/small/single-product6.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!--Modal Tab Menu End-->
                        </div>
                        <!--Modal Img-->
                        <!--Modal Content-->
                        <div class="col-md-7">
                            <div class="modal-product-info">
                                <h1>Sit voluptatem</h1>
                                <div class="modal-product-price">
                                    <span class="old-price">$74.00</span>
                                    <span class="new-price">$69.00</span>
                                </div>
                                <a href="single-product.html" class="see-all">See all features</a>
                                <div class="add-to-cart quantity">
                                    <form class="add-quantity" action="#">
                                        <div class="modal-quantity">
                                            <input type="number" value="1">
                                        </div>
                                        <div class="add-to-link">
                                            <button class="form-button" data-text="add to cart">add to cart</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="cart-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus.</p>
                                </div>
                                <div class="social-share">
                                    <h3>Share this product</h3>
                                    <ul class="socil-icon2">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Modal Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Area End -->
</div>





<!--All Js Here-->

<!--Jquery 1.12.4-->
<script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
<!--Popper-->
<script src="{{ asset('js/popper.min.js') }}"></script>
<!--Bootstrap-->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!--Imagesloaded-->
<script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
<!--Isotope-->
<script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
<!--Waypoints-->
<script src="{{ asset('js/waypoints.min.js') }}"></script>
<!--Counterup-->
<script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
<!--Carousel-->
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<!--Slick-->
<script src="{{ asset('js/slick.min.js') }}"></script>
<!--Meanmenu-->
<script src="{{ asset('js/jquery.meanmenu.min.js') }}"></script>
<!--Easyzoom-->
<script src="{{ asset('js/easyzoom.min.js') }}"></script>
<!--Nice Select-->
<script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
<!--ScrollUp-->
<script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
<!--Wow-->
<script src="{{ asset('js/wow.min.js') }}"></script>
<!--Venobox-->
<script src="{{ asset('js/venobox.min.js') }}"></script>
<!--Jquery Ui-->
<script src="{{ asset('js/jquery-ui.js') }}">

</script>
<!--Countdown-->
<script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
<!--Plugins-->
<script src="{{ asset('js/plugins.js') }}"></script>
<!--Main Js-->
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
