{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-md-12">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-form-area">
                    <div class="contact-form-title">
                        <h2>Modifier votre Sujet {{ sujet.titresujet }}</h2>
                    </div>
                    <form id="form" action="{{ path('majsujet',{'id':sujet.idsujetrc}) }}" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Titre de Sujet</label>
                                <div class="contact-form-style mb-20">
                                    <span style="color: red;" id="grostitre">Veuillez saisir vos information d'une manniere plus approprié ! LANGUAGE INNAPROPRIE</span>
                                    <input id="titre" required value="{{ sujet.titresujet }}" name="title" placeholder="Titre du sujet *" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Catégorie</label>
                                <div class="contact-form-style mb-20">
                                    <select name="categorie" form="form">
                                        <option value="Plante">Plante</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Choisir une image</label>
                                <div class="contact-form-style mb-20">
                                    <input required name="image"  value="{{ sujet.image }}" type="file"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="contact-form-style form-style-2">
                                    <label>Description du sujet</label>
                                    <span style="color: red;" id="grostitre2">Veuillez saisir vos information d'une manniere plus approprié ! LANGUAGE INNAPROPRIE</span>

                                    <textarea required id="contenu" form=form" name="contenu"  placeholder="Type your message here..">{{ sujet.contenu }}</textarea>
                                    <button id="submit" class="form-button" type="submit"><span>Send Email</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script  type="text/javascript">
        $("#grostitre").hide();
        $("#grostitre2").hide();



        console.log("ok");
        $("document").ready(function () {

            $("#titre").keypress(function () {
if($(this).val().indexOf("fuck")!=-1  ){

    $("#grostitre").show();
    $("#submit").prop( "disabled", true );
}
    else
    {
        $("#grostitre").hide()
        $("#submit").prop( "disabled", false );


    }


                })
            $("#contenu").keypress(function () {
                if($(this).val().indexOf("fuck")!=-1  ){

                    $("#grostitre2").show();
                    $("#submit").prop( "disabled", true );
                }
                else
                {
                    $("#grostitre2").hide()
                    $("#submit").prop( "disabled", false );


                }


            })

        });


    </script>

{% endblock %}