{% extends "@Reclamation/Default/layout.html.twig" %}


  {% block mainContent %}



    <!--Single Product Area End-->
    <!--Product Description Review Area Start-->
    <div class="product-description-review-area mb-100">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="product-review-tab">
              <!--Review And Description Tab Menu Start-->
              <ul class="nav dec-and-review-menu">

                <li>
                  <a data-toggle="tab" href="#reviews">Modifier le commentaire</a>
                </li>
              </ul>
              <!--Review And Description Tab Menu End-->
              <!--Review And Description Tab Content Start-->
              <div class="tab-content product-review-content-tab" id="myTabContent-4">


                <div class="tab-pane fade" id="reviews">

                  <div class="review-page-comment">


                    <center>
                    <div class="review-form-wrapper">
                      <div class="review-form">

                        <form action="#" method="post">


                          <div class="input-element">
                            <div class="comment-form-comment">
                              <label>Comment:</label>
                              <textarea name="message"  cols="40" rows="8" minlength="5" required>{{ comment.description }}</textarea>
                            </div>


                            <div class="comment-submit">
                              <button type="submit" class="form-button">Modifier</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    </center>
                  </div>
                </div>
              </div>
              <!--Review And Description Tab Content End-->
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}