{% extends "basegreen.html.twig" %}



{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <h2 align="center" style="color: lightgreen;">{{ sujet.titresujet }}</h2>

 <img  style="width:200px;height:200px;display: block;margin-left: auto;margin-right: auto;width: 50%;" src="http:\\localhost\image\{{ sujet.image }}" >

            <p >  <b>Contenu : </b>  {{ sujet.contenu  }}</p>
            <br/>
            <div class="card-title-block">
                <h3 class="title"> Les Reponses  </h3>
            </div>

            <section class="example">
                <table class="table table-inverse">
                    <thead>
                    <tr>
                        <th>Reponse</th>
                        <th>Utilisateur</th>
                        <th>image</th>
                        <th>delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reponse in reponses %}
                    <tr>
                        <td>{{ reponse.contenu }}</td>
                        <td>{{ reponse.user.username }}</td>
                        <td><img  style="width:55px;height:55px;"  src="http:\\localhost\image\{{ reponse.user.image }}"> </td>
                        <td>
                            <a href="{{ path('deletecom',{id:reponse.idreponserc,idsujet:sujet.idsujetrc}) }}"> <button class="btn btn-danger"> supprimer</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>


        </div>
    </div>
</div>

{% endblock %}